Modules/Loan-Onboarding/FSILoanOnboardingStarter/Workflows/Identificationdocumenttypeverificationstep-A3ABF003-84DF-ED11-A7C7-000D3A33D043.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_7e301"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "6fea82a5-d96f-45f2-b3ae-d461549bfee3"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_1": {
                  "title": "Pipeline step Definition Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Document Pipeline Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "Extraction output",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": ["text_1", "text_2", "text_4"]
            }
          }
        }
      },
      "actions": {
        "Pre_pipeline_step_functionalities": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a667f20b-1049-408e-aedc-7a902edce0d7"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "ba35f4f3-a7fa-ec11-82e5-000d3a182304"
            },
            "body": {
              "text": "@triggerBody()['text_1']",
              "text_1": "@triggerBody()['text_2']"
            }
          }
        },
        "Generate_JSON_from_output": {
          "runAfter": {
            "Pre_pipeline_step_functionalities": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "3adccaab-31c6-4514-a036-a8213988d7c9"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text_4']",
            "schema": {
              "type": "object",
              "properties": {
                "fields": {
                  "type": "object"
                }
              }
            }
          }
        },
        "Try_-_Extract_Information_from_identity_document": {
          "actions": {
            "Set_ID_Confidence": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "af4ce82d-0b05-47a2-b604-6254248c7019"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ID Confidence",
                "value": "@body('Generate_JSON_from_output')?['fields/documentNumber/confidence']"
              }
            },
            "Is_ID_confidence_greater_that_or_equal_to_success_threshold": {
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b9f2ce7f-299d-4703-88e3-79b9383f1fd5"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Document State",
                    "value": "Approved"
                  }
                }
              },
              "runAfter": {
                "Set_ID_Confidence": ["Succeeded"]
              },
              "else": {
                "actions": {
                  "Is_ID_confidence_greater_than_or_equal_to_failure_threshold": {
                    "actions": {
                      "Set_variable_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e3fa9def-4d75-4588-a018-b0d38435410e"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Document State",
                          "value": "Unclear"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Set_variable_4": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "b2a949ba-1b9a-42d0-9596-41fe4a134918"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Document State",
                            "value": "Rejected"
                          }
                        }
                      }
                    },
                    "expression": {
                      "greaterOrEquals": [
                        "@variables('ID Confidence')",
                        "@outputs('Get_success_threshold')?['body/msfsi_failurethreshold']"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e2c5a603-f819-448b-b4b2-0b0d8c75d9cd"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@variables('ID Confidence')",
                  "@outputs('Get_success_threshold')?['body/msfsi_successthreshold']"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b766aee-c342-4fb4-94c2-90f4ec8c2443"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_success_threshold": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "f71b6f2f-33d2-4b83-9dfe-a2a9dc8936cf"
          },
          "type": "Scope"
        },
        "Initiate_ID_Confidence": {
          "runAfter": {
            "Generate_JSON_from_output": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "0ed06e2b-62e7-450a-a4c2-3c3bf77264c5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ID Confidence",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Catch_-_Extract_Information_from_identity_document": {
          "actions": {
            "Set_document_state_=_Rejected": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a029396d-380a-474a-a627-ed32c692c7ae"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Document State",
                "value": "Rejected"
              }
            }
          },
          "runAfter": {
            "Try_-_Extract_Information_from_identity_document": ["Failed"]
          },
          "metadata": {
            "operationMetadataId": "60b8a4a2-9f17-4f5c-a74c-9090d5c35e31"
          },
          "type": "Scope"
        },
        "Initiate_Document_State": {
          "runAfter": {
            "Initiate_ID_Confidence": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "e4fae4f9-a7d5-4665-b423-b1210919ff14"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Document State",
                "type": "string"
              }
            ]
          }
        },
        "Post_pipeline_step_functionalities": {
          "runAfter": {
            "Catch_-_Extract_Information_from_identity_document": [
              "Succeeded",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "3bfcdc36-b3dd-42ba-beef-691074189c3f"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "0be25b1f-a9fa-ec11-82e5-000d3a182304"
            },
            "body": {
              "text": "@body('Pre_pipeline_step_functionalities')?['document_pipeline_step_id']",
              "text_1": "@variables('Document State')",
              "text_2": "Success",
              "text_3": "@string(body('Generate_JSON_from_output')?['fields/documentNumber'])"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Post_pipeline_step_functionalities": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "26bf5d4b-43b2-4442-b690-7b4ecf9ce1c9"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "document_state": "@variables('Document State')",
              "pipeline_state": "Success"
            },
            "schema": {
              "type": "object",
              "properties": {
                "document_state": {
                  "title": "Document State",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "pipeline_state": {
                  "title": "Pipeline State",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_success_threshold": {
          "runAfter": {
            "Initiate_Document_State": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "d1228e4d-1587-4b9b-8a64-49a20f708e52"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_pipelinestepdefinitions",
              "recordId": "@triggerBody()['text_1']",
              "$select": "msfsi_successthreshold,msfsi_failurethreshold"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}
