Modules/Loan-Onboarding/FSILoanOnboardingStarter/Workflows/Updateapplicationfieldsfromloanapplication-94A023FC-76D2-ED11-A7C7-000D3A1BAFBE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_7e301"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "60277ac1-1d42-4bb8-a403-3b5f757f564c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "msfsi_loan_application",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "22c4f2fe-f2bf-4cb3-a34b-e71ce3ef4c93"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_applications",
              "$select": "msfsi_applicationid",
              "$filter": "(_msfsi_detailsid_value eq @{triggerOutputs()?['body/msfsi_loan_applicationid']})",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_each_row_in_application_table": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b77ca6b5-9a13-426c-995f-6502121838a9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msfsi_applications",
                  "recordId": "@items('Apply_to_each')?['msfsi_applicationid']",
                  "item/msfsi_interestrate": "@triggerOutputs()?['body/msfsi_interestrate']",
                  "item/msfsi_principalamount": "@triggerOutputs()?['body/msfsi_principalamount']",
                  "item/msfsi_loanterm": "@triggerOutputs()?['body/msfsi_loanterm']",
                  "item/msfsi_loantype": "@triggerOutputs()?['body/msfsi_loantype']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b53a5b9a-d481-4f49-a773-6449dcd86b69"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}