Modules/DocumentIntelligence/FSIDocumentIntelligenceCore/Workflows/FormatextracteddataAIbuilder-C035FD97-3F6B-ED11-9561-00224805CE8F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_b8eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "58ae36d1-15b7-4332-ae78-8f14deed9458"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Step definition id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Model id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Model output",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "number": {
                  "title": "Success threshold",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter a number",
                  "x-ms-content-hint": "NUMBER"
                },
                "number_1": {
                  "title": "Failure threshold",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter a number",
                  "x-ms-content-hint": "NUMBER"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "number",
                "number_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Set_page_count_property": {
          "runAfter": {
            "Initialize_fields_min_confidence_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ce618bd-f542-45cb-b480-2f42c232fb8e"
          },
          "type": "Compose",
          "inputs": "@setProperty(variables('FormattedModelOutput'),'pageCount',variables('ModelOutput')?['pageCount'])"
        },
        "Initialize_model_output_variable": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8ddb742-99dc-4438-a4d1-7c972747c058"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ModelOutput",
                "type": "object",
                "value": "@json(triggerBody()['text_2'])"
              }
            ]
          }
        },
        "Check_model_id": {
          "runAfter": {
            "Set_page_count_property": [
              "Succeeded"
            ]
          },
          "cases": {
            "Id_scanning_model": {
              "case": "2c444168-f8b1-4c6a-9313-2d9c03be6fea",
              "actions": {
                "Set_id_collection_property": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@setProperty(outputs('Set_page_count_property'),'collection',variables('ModelOutput')?['result/context/idType/type'])"
                },
                "Set_id_collection_confidence_property": {
                  "runAfter": {
                    "Set_id_collection_property": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@setProperty(outputs('Set_id_collection_property'),'collectionConfidence',variables('ModelOutput')?['result/context/idType/confidence'])"
                },
                "Set_id_fields_place_holder": {
                  "runAfter": {
                    "Set_id_formatted_model_output_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Fields",
                    "value": "@variables('ModelOutput')?['result/fields']"
                  }
                },
                "Set_id_formatted_model_output_variable": {
                  "runAfter": {
                    "Set_id_collection_confidence_property": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "FormattedModelOutput",
                    "value": "@outputs('Set_id_collection_confidence_property')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Convert_object_to_fields_list": {
                "runAfter": {
                  "Create_model_output_fields_object": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@xpath(xml(outputs('Create_model_output_fields_object')), '/fields/*')"
              },
              "Apply_to_each": {
                "foreach": "@outputs('Convert_object_to_fields_list')",
                "actions": {
                  "Get_current_field": {
                    "runAfter": {},
                    "type": "Compose",
                    "inputs": "@variables('ModelOutput')?['labels']?[xpath(item(), 'name(/*)')]"
                  },
                  "Replace_key_with_display_name": {
                    "runAfter": {
                      "Get_current_field": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose",
                    "inputs": "@setProperty(variables('Fields'),outputs('Get_current_field')?['displayName'],outputs('Get_current_field')) "
                  },
                  "Set_fields_place_holder": {
                    "runAfter": {
                      "Replace_key_with_display_name": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Fields",
                      "value": "@outputs('Replace_key_with_display_name')"
                    }
                  }
                },
                "runAfter": {
                  "Convert_object_to_fields_list": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach"
              },
              "Set_collection_property": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "be10be68-399e-4af5-aba0-ac2707b339af"
                },
                "type": "Compose",
                "inputs": "@setProperty(outputs('Set_page_count_property'),'collection',variables('ModelOutput')?['layoutName'])"
              },
              "Create_model_output_fields_object": {
                "runAfter": {
                  "Set_formatted_model_output_variable": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@addProperty(json('{}'), 'fields', variables('ModelOutput')?['labels'])"
              },
              "Set_collection_confidence_property": {
                "runAfter": {
                  "Set_collection_property": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b3427330-cd50-4631-b531-b202b8c434ae"
                },
                "type": "Compose",
                "inputs": "@setProperty(outputs('Set_collection_property'),'collectionConfidence',variables('ModelOutput')?['layoutConfidenceScore'])"
              },
              "Set_formatted_model_output_variable": {
                "runAfter": {
                  "Set_collection_confidence_property": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "FormattedModelOutput",
                  "value": "@outputs('Set_collection_confidence_property')"
                }
              }
            }
          },
          "expression": "@triggerBody()['text_1']",
          "metadata": {
            "operationMetadataId": "75b48619-c89b-432c-9d94-afa5054300d3"
          },
          "type": "Switch"
        },
        "Retrieve_step_field_definitions": {
          "runAfter": {
            "Check_model_id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3825fd3-8e84-48b7-b01b-4f9f5eaa8bba"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_stepfielddefinitions",
              "$select": "msfsi_externalname",
              "$filter": "(_msfsi_stepdefinition_value eq @{triggerBody()['text']} and statecode eq 0)"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Extract_fields": {
          "foreach": "@outputs('Retrieve_step_field_definitions')?['body/value']",
          "actions": {
            "Create_field_structure": {
              "runAfter": {
                "Parse_current_field_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "38b709b4-6079-4d65-9791-0777f0035e4b"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Field",
                "value": {
                  "value": "@body('Parse_current_field_JSON')?['value']",
                  "originalValue": "@body('Parse_current_field_JSON')?['value']",
                  "confidence": "@body('Parse_current_field_JSON')?['confidence']",
                  "location": {
                    "page": "@coalesce(body('Parse_current_field_JSON')?['location/page'],body('Parse_current_field_JSON')?['valueLocation/pageNumber'])",
                    "boundingBox": "@coalesce(body('Parse_current_field_JSON')?['location/boundingBox'],body('Parse_current_field_JSON')?['valueLocation/boundingBox'])"
                  }
                }
              }
            },
            "Set_current_field_property": {
              "runAfter": {
                "Create_field_structure": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "18c8e1f6-e2fd-43f8-a153-ebb061aef08d"
              },
              "type": "Compose",
              "inputs": "@setProperty(variables('ExtractedFields'), items('Extract_fields')?['msfsi_externalname'], variables('Field'))"
            },
            "Set_extracted_fields": {
              "runAfter": {
                "Set_current_field_property": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b60ac54a-81ef-475e-9fd5-a409766f6804"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ExtractedFields",
                "value": "@outputs('Set_current_field_property')"
              }
            },
            "Parse_current_field_JSON": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cea1f8da-a01a-4f58-a45d-12e96eea98a3"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@coalesce(variables('Fields')?[items('Extract_fields')?['msfsi_externalname']],json('{}'))",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.type": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "boundingBox": {
                          "type": "object",
                          "properties": {
                            "@@odata.type": {
                              "type": "string"
                            },
                            "left": {
                              "type": "number"
                            },
                            "top": {
                              "type": "number"
                            },
                            "width": {
                              "type": "number"
                            },
                            "height": {
                              "type": "number"
                            },
                            "polygon": {
                              "type": "object",
                              "properties": {
                                "@@odata.type": {
                                  "type": "string"
                                },
                                "coordinates@odata.type": {
                                  "type": "string"
                                },
                                "coordinates": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "@@odata.type": {
                                        "type": "string"
                                      },
                                      "x": {
                                        "type": "number"
                                      },
                                      "y": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "@@odata.type",
                                      "x",
                                      "y"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "valueLocation": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "boundingBox": {
                          "type": "object",
                          "properties": {
                            "@@odata.type": {
                              "type": "string"
                            },
                            "left": {
                              "type": "number"
                            },
                            "top": {
                              "type": "number"
                            },
                            "width": {
                              "type": "number"
                            },
                            "height": {
                              "type": "number"
                            },
                            "polygon": {
                              "type": "object",
                              "properties": {
                                "@@odata.type": {
                                  "type": "string"
                                },
                                "coordinates@odata.type": {
                                  "type": "string"
                                },
                                "coordinates": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "@@odata.type": {
                                        "type": "string"
                                      },
                                      "x": {
                                        "type": "number"
                                      },
                                      "y": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "@@odata.type",
                                      "x",
                                      "y"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Set_field_confidence_to_MaxConfidence": {
              "runAfter": {
                "Fields_max_confidence_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "905335f5-f26b-48c7-84e9-f181bca1ea45"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FieldsMaxConfidence",
                "value": "@outputs('Fields_max_confidence_')"
              }
            },
            "Set_field_confidence_to_MinConfidence": {
              "runAfter": {
                "Fields_min_confidence": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d2d6c68d-bc24-479d-9b61-30cd4055ea83"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FieldsMinConfidence",
                "value": "@outputs('Fields_min_confidence')"
              }
            },
            "Fields_max_confidence_": {
              "runAfter": {
                "Set_extracted_fields": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d4605838-0607-44e3-8d89-274949216094"
              },
              "type": "Compose",
              "inputs": "@max(coalesce(body('Parse_current_field_JSON')?['confidence'], 0),variables('FieldsMaxConfidence'))"
            },
            "Fields_min_confidence": {
              "runAfter": {
                "Set_field_confidence_to_MaxConfidence": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "31a6b9b8-0531-48e6-bc90-3759a558fd8a"
              },
              "type": "Compose",
              "inputs": "@min(coalesce(body('Parse_current_field_JSON')?['confidence'], 0),variables('FieldsMinConfidence'))"
            }
          },
          "runAfter": {
            "Retrieve_step_field_definitions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4af131df-635d-41ce-99e6-9bbfcd4b6a8f"
          },
          "type": "Foreach"
        },
        "Initialize_field_place_holder": {
          "runAfter": {
            "Initialize_model_fields_output_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "873d506b-028d-4d2b-8eef-e0c09423e5f3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Field",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "Initialize_model_fields_output_variable": {
          "runAfter": {
            "Initialize_model_output_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0ad7281b-21a4-4ef0-a48c-0cac47c5fd69"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Fields",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "Initialize_extracted_fields_place_holder": {
          "runAfter": {
            "Initialize_field_place_holder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "665c2252-f28b-44d6-bac0-f28365133c7c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ExtractedFields",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "Initialize_formatted_model_output_variable": {
          "runAfter": {
            "Initialize_extracted_fields_place_holder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4054002-da07-4225-923b-833566519d33"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FormattedModelOutput",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "Set_fields_to_formatted_model_output": {
          "runAfter": {
            "Set_extracted_fields_property": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f8bed94c-389b-4355-a9f7-48fa08f1615f"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "FormattedModelOutput",
            "value": "@outputs('Set_extracted_fields_property')"
          }
        },
        "Set_extracted_fields_property": {
          "runAfter": {
            "Extract_fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46968f53-ef6a-4dbd-9a79-2e37e1052efd"
          },
          "type": "Compose",
          "inputs": "@setProperty(variables('FormattedModelOutput'), 'fields', variables('ExtractedFields'))"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Check_failure_threshold": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd35e158-37ad-469a-8469-e83d925d718a"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "formatted_model_output": "@{string(variables('FormattedModelOutput'))}",
              "document_state": "@variables('DocumentState')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "formatted_model_output": {
                  "title": "Formatted model output",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "document_state": {
                  "title": "Document state",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_fields_max_confidence_variable": {
          "runAfter": {
            "Initialize_formatted_model_output_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b3cb59a4-fb40-4d78-9059-6c2d6ef4537a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FieldsMaxConfidence",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Initialize_fields_min_confidence_variable": {
          "runAfter": {
            "Initialize_fields_max_confidence_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "57faa6c8-1b46-4b16-b586-7aab161618b3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FieldsMinConfidence",
                "type": "float",
                "value": 1
              }
            ]
          }
        },
        "Check_failure_threshold": {
          "actions": {
            "Set_document_state_to_rejected": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "45185931-8040-4563-830f-417afd4a5cbd"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "DocumentState",
                "value": "Rejected"
              }
            }
          },
          "runAfter": {
            "Set_fields_to_formatted_model_output": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Check_success_threshold": {
                "actions": {
                  "Set_pipeline_state_to_approved": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "a77b2b79-50d6-40d5-b5ad-e8ed4bddda5f"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "DocumentState",
                      "value": "Approved"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Set_pipeline_state_to_unclear": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "bc947c5d-cb1a-49de-9cce-e44bb21b1661"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DocumentState",
                        "value": "Unclear"
                      }
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "greaterOrEquals": [
                        "@variables('FormattedModelOutput')?['collectionConfidence']",
                        "@triggerBody()['number']"
                      ]
                    },
                    {
                      "greaterOrEquals": [
                        "@variables('FieldsMinConfidence')",
                        "@triggerBody()['number']"
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ac273a3e-d11a-4dd8-87b8-60ee2dc8004a"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@variables('FormattedModelOutput')?['collectionConfidence']",
                  null
                ]
              },
              {
                "less": [
                  "@variables('FormattedModelOutput')?['collectionConfidence']",
                  "@triggerBody()['number_1']"
                ]
              },
              {
                "less": [
                  "@variables('FieldsMaxConfidence')",
                  "@triggerBody()['number_1']"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "d6100ec5-5058-4db6-a682-cee22cd269f9"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "288a44bc-ecec-4ec2-aec1-70f985b772f9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DocumentState",
                "type": "string",
                "value": "Unclear"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}