Modules/DocumentIntelligence/FSIDocumentIntelligenceCore/Workflows/Mainpipeline-9C2D7DF1-96F7-EC11-BB3D-00224808C150.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_b8eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "41971b45-fa42-41c6-a21c-cfa1f2291038"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "msfsi_documentrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "msfsi_uploadedon",
              "subscriptionRequest/filterexpression": "(msfsi_state eq 104800001 and msfsi_hasautomaticflow eq true)",
              "subscriptionRequest/runas": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Retrieve_document_file_from_notes": {
          "runAfter": {
            "Calling_Pre_pipeline_functionalities": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a58385f9-a7f5-4532-9cbf-bfe175fb41ae"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "annotations",
              "$select": "documentbody,annotationid,mimetype",
              "$filter": "(_objectid_value eq @{triggerOutputs()?['body/_msfsi_document_value']} and isdocument eq true)"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Get document note (Base64)"
        },
        "Document": {
          "runAfter": {
            "Check_that_the_document_has_file_attachment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d444539d-33ce-4186-8242-1710ded7a9f5"
          },
          "type": "Compose",
          "inputs": "@first(outputs('Retrieve_document_file_from_notes')?['body/value'])"
        },
        "Calling_Pre_pipeline_functionalities": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "20cb0449-6e01-4416-8fd0-f9e2008a8c09"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "63364e6b-a8f7-ec11-bb3d-00224808c150"
            },
            "body": {
              "text": "@triggerOutputs()?['body/msfsi_documentrequestid']",
              "text_1": "@triggerOutputs()?['body/_msfsi_documentdefinition_value']"
            }
          }
        },
        "Check_that_the_document_has_file_attachment": {
          "actions": {
            "Run_post_pipeline": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cfda4875-f165-408a-b4fd-b11c928e151e"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "155b58ac-aaf7-ec11-bb3d-00224808c150"
                },
                "body": {
                  "text": "Failure",
                  "text_1": "Rejected",
                  "text_3": "@body('Calling_Pre_pipeline_functionalities')?['latest_pipeline_id']",
                  "text_4": "@triggerOutputs()?['body/msfsi_documentrequestid']",
                  "text_5": "No"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Run_post_pipeline": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e201c449-fb47-4521-8658-0efa771e4c5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "Retrieve_document_file_from_notes": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@empty(outputs('Retrieve_document_file_from_notes')?['body/value'])",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "0d04c54a-0faa-4831-b50b-36cad6fa8d59"
          },
          "type": "If"
        },
        "File_Content_Template": {
          "runAfter": {
            "Document": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa2aee4d-0f29-4766-8c9a-18c6f48c946c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "File Template",
                "type": "string",
                "value": "'{\"$content-type\":\"@{if(equals(outputs('Document')?['mimetype'], 'image/jpeg'), 'image/jpg', outputs('Document')?['mimetype'])}\",\"$content\":\"@{base64ToBinary(outputs('Document')?['documentbody'])?['$content']}\"}'"
              }
            ]
          }
        },
        "Try_-_Running_OOB_steps_and_custom_pipelines": {
          "actions": {
            "Check_If_there_is_AI_builder_extraction_step": {
              "actions": {
                "Run_AI_builder_extraction": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c53f3152-eedd-4d57-a432-e70ed2d32de1"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "903157fb-ae64-ed11-9561-00224805c952"
                    },
                    "body": {
                      "text": "@variables('File Template')",
                      "text_1": "@string(variables('Extraction step')?['msfsi_pipelinestepdefinitionid'])",
                      "text_2": "@body('Calling_Pre_pipeline_functionalities')?['latest_pipeline_id']"
                    }
                  }
                },
                "Decrement_number_of_custom_steps": {
                  "runAfter": {
                    "Run_AI_builder_extraction": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "af7ea70a-c463-470d-9377-4f58427c25fe"
                  },
                  "type": "DecrementVariable",
                  "inputs": {
                    "name": "Number of custom steps",
                    "value": 1
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(variables('Extraction step'))",
                      "@false"
                    ]
                  },
                  {
                    "equals": [
                      "@empty(string(variables('Extraction step')?['msfsi_pipelinestepdefinitionid']))",
                      "@false"
                    ]
                  },
                  {
                    "equals": [
                      "@empty(string(variables('Extraction step')?['_msfsi_aibuildermodel_value']))",
                      "@false"
                    ]
                  },
                  {
                    "equals": [
                      "@variables('Extraction step')?['msfsi_type']",
                      "@104800000"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "a3b7a7a8-9b43-4046-9763-60895f497001"
              },
              "type": "If"
            },
            "Trigger_custom_pipeline_": {
              "actions": {
                "Trigger_custom_pipeline_(update_trigger-on_attribute)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4e26ffc3-2df0-490b-a748-ef0fbeb36b8f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msfsi_documentpipelines",
                      "recordId": "@body('Calling_Pre_pipeline_functionalities')?['latest_pipeline_id']",
                      "item/msfsi_triggercustompipelineon": "@utcNow()"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Check_If_there_is_AI_builder_extraction_step": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Calling_post_pipeline_functionalities": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d7097cfd-c639-4328-aa62-7e9d281e5dd4"
                    },
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflowReferenceName": "155b58ac-aaf7-ec11-bb3d-00224808c150"
                      },
                      "body": {
                        "text": "@coalesce(outputs('Run_AI_builder_extraction')?['Body']?['pipeline_state'], 'Failure')",
                        "text_1": "@coalesce(outputs('Run_AI_builder_extraction')?['Body']?['document_state'], 'Unclear')",
                        "text_3": "@body('Calling_Pre_pipeline_functionalities')?['latest_pipeline_id']",
                        "text_4": "@triggerOutputs()?['body/msfsi_documentrequestid']",
                        "text_5": "No"
                      },
                      "retryPolicy": {
                        "type": "fixed",
                        "count": 3,
                        "interval": "PT2M"
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@variables('Number of custom steps')",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "cb3cab77-8e38-4d3f-ab64-52a16196db71"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_number_of_custom_steps": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41e39381-f1f5-43de-bc9f-e830563feaa1"
          },
          "type": "Scope"
        },
        "Catch_-_Running_OOB_steps_and_custom_pipelines": {
          "actions": {
            "Calling_post_pipeline_functionalities_after_fail": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d7097cfd-c639-4328-aa62-7e9d281e5dd4"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "155b58ac-aaf7-ec11-bb3d-00224808c150"
                },
                "body": {
                  "text": "Failure",
                  "text_1": "Rejected",
                  "text_3": "@body('Calling_Pre_pipeline_functionalities')?['latest_pipeline_id']",
                  "text_4": "@triggerOutputs()?['body/msfsi_documentrequestid']",
                  "text_5": "No"
                },
                "retryPolicy": {
                  "type": "fixed",
                  "count": 1,
                  "interval": "PT1M"
                }
              }
            }
          },
          "runAfter": {
            "Try_-_Running_OOB_steps_and_custom_pipelines": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ba74e33-f0bf-4ec0-9394-3eab928075ef"
          },
          "type": "Scope"
        },
        "Get_document_pipeline_steps_definitions": {
          "runAfter": {
            "File_Content_Template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eec70096-43a6-4ad9-8a65-edfa0bea2066"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_pipelinestepdefinitions",
              "$select": "msfsi_pipelinestepdefinitionid,_msfsi_aibuildermodel_value,msfsi_type",
              "$filter": "(_msfsi_documentdefinition_value eq @{triggerOutputs()?['body/_msfsi_documentdefinition_value']} and statecode eq 0)",
              "$orderby": "msfsi_order"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_extraction_step_": {
          "runAfter": {
            "Get_document_pipeline_steps_definitions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1b8a4e3b-7fee-4231-ad70-77c51634ca8a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Extraction step",
                "type": "object",
                "value": "@first(outputs('Get_document_pipeline_steps_definitions')?['body/value'])"
              }
            ]
          }
        },
        "Initialize_number_of_custom_steps": {
          "runAfter": {
            "Initialize_extraction_step_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e60bfce6-9880-4b55-a422-04d70fd69986"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of custom steps",
                "type": "integer",
                "value": "@length(outputs('Get_document_pipeline_steps_definitions')?['body/value'])"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}