Modules/DocumentIntelligence/FSIDocumentIntelligenceCore/Workflows/Postpipeline-155B58AC-AAF7-EC11-BB3D-00224808C150.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_b8eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ae1f9220-4bae-46e4-a179-bda9ea7c1f09"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Pipeline State",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT",
                  "enum": [
                    "Failure",
                    "Running",
                    "Success"
                  ]
                },
                "text_1": {
                  "title": "Pipeline Document State",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT",
                  "enum": [
                    "Approved",
                    "Rejected",
                    "Unclear"
                  ]
                },
                "text_3": {
                  "title": "Latest Pipeline",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "Document Request Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "Is Auto Update",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_3",
                "text_4",
                "text_5"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Condition_if_need_to_update_automatically_the_document_record_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b9a45304-63bd-49f0-9874-ec1e51c3d1fb"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "latest_pipeline_id": "@triggerBody()['text_3']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "latest_pipeline_id": {
                  "title": "Latest Pipeline Id",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Update_Document_Pipeline_record": {
          "runAfter": {
            "Set_statuses_map": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "002ad260-20b1-4075-b250-fb79e6e484d1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_documentpipelines",
              "recordId": "@triggerBody()['text_3']",
              "item/msfsi_documentrequest@odata.bind": "/msfsi_documentrequests(@{triggerBody()['text_4']})",
              "item/msfsi_pipelinedocumentstate": "@variables('Statuses map')?['documentState']?[triggerBody()['text_1']]",
              "item/msfsi_pipelinestate": "@variables('Statuses map')?['pipelineState']?[triggerBody()['text']]"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Condition_if_need_to_update_automatically_the_document_record_": {
          "actions": {
            "Update_document_request_record_with_state": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "91eabe08-f160-4e68-a8fe-423516264404"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msfsi_documentrequests",
                  "recordId": "@triggerBody()['text_4']",
                  "item/msfsi_isautoupdated": true,
                  "item/msfsi_latestpipeline@odata.bind": "/msfsi_documentpipelines(@{triggerBody()['text_3']})",
                  "item/msfsi_state": "@if(equals(triggerBody()['text_1'], 'Approved'), 104800002, 104800003)",
                  "item/msfsi_stateupdatedon": "@utcNow()"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Update_Document_Pipeline_record": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerBody()['text_5']",
              "Yes"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7d15da0-2263-4fe0-8047-db51b025cb1e"
          },
          "type": "If"
        },
        "Set_statuses_map": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7f130852-c9b2-4a84-950b-5017aebd1f5e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Statuses map",
                "type": "object",
                "value": {
                  "pipelineState": {
                    "Running": 104800000,
                    "Success": 104800001,
                    "Failure": 104800002
                  },
                  "documentState": {
                    "Unclear": 104800000,
                    "Rejected": 104800001,
                    "Approved": 104800002
                  }
                }
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}