Modules/DocumentIntelligence/FSIDocumentIntelligenceCore/Workflows/Prepipeline-63364E6B-A8F7-EC11-BB3D-00224808C150.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_b8eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "bd635ad7-db78-4926-adf7-6c3865332dd1"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Document Request Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Document definition Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Add_new_Document_Pipeline_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2d8c512b-ee06-4cc0-a945-a8fa225d8b06"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_documentpipelines",
              "item/msfsi_name": "@{triggerBody()['text']} at @{utcNow()}",
              "item/msfsi_documentdefinition@odata.bind": "/msfsi_documentdefinitions(@{triggerBody()['text_1']})",
              "item/msfsi_documentrequest@odata.bind": "/msfsi_documentrequests(@{triggerBody()['text']})",
              "item/msfsi_pipelinestate": 104800000
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Update_document_request_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a7dd5ab8-7992-447e-9abe-8861e5abeffa"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "latest_pipeline_id": "@outputs('Add_new_Document_Pipeline_record')?['body/msfsi_documentpipelineid']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "latest_pipeline_id": {
                  "title": "Latest Pipeline Id",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Update_document_request_record": {
          "runAfter": {
            "Add_new_Document_Pipeline_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dcaf5943-1b8d-4db2-8958-c8b37dbc3dd2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_documentrequests",
              "recordId": "@triggerBody()['text']",
              "item/msfsi_latestpipeline@odata.bind": "/msfsi_documentpipelines(@{outputs('Add_new_Document_Pipeline_record')?['body/msfsi_documentpipelineid']})"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}