Modules/LoanOnboardingStarter/FSILoanOnboardingStarter/Workflows/Identificationdocumentenrichmentstep-CBA1B9E7-83DF-ED11-A7C7-000D3A33D043.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_7e301"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a96dbc81-532b-4e56-a429-c52508941be1"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Document request id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Pipeline step Definition Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Document Pipeline Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": ["text", "text_1", "text_2"]
            }
          }
        }
      },
      "actions": {
        "Initialize_output_variable": {
          "runAfter": {
            "Initiate_pipeline_step_state": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "68843464-4e0f-4223-8228-21d4555f6ab5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "output",
                "type": "object",
                "value": {}
              }
            ]
          }
        },
        "Initiate_document_state": {
          "runAfter": {
            "Pre_pipeline_step_functionalities": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "0d9fb2bf-fde8-4a67-bbf2-ffb28ddec744"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Document state",
                "type": "string",
                "value": "Approved"
              }
            ]
          }
        },
        "Pre_pipeline_step_functionalities": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4495e3c5-6c1d-45c7-93cf-b6b144baa61a"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "ba35f4f3-a7fa-ec11-82e5-000d3a182304"
            },
            "body": {
              "text": "@triggerBody()['text_1']",
              "text_1": "@triggerBody()['text_2']"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Post_pipeline_step_functionalities": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "a2c73900-1307-4fac-96a6-0d63f7a7c3d9"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "document_state": "@variables('Document state')",
              "step_state": "@variables('Pipeline state')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "document_state": {
                  "title": "Document state",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "step_state": {
                  "title": "Step state",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Try_-_Enrichment_process": {
          "actions": {
            "Get_document_requests_related_attribute": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e70a8396-a4f7-4963-a8bd-fee01fe00e06"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msfsi_documentrequests",
                  "fetchXml": "<fetch>\n  <entity name=\"msfsi_documentrequest\">\n    <filter>\n      <condition attribute=\"msfsi_documentrequestid\" operator=\"eq\" value=\"@{triggerBody()['text']}\" />\n    </filter>\n    <link-entity name=\"msfsi_relatedpartycontract\" from=\"msfsi_relatedpartycontractid\" to=\"msfsi_regarding\" alias=\"msfsi_relatedpartycontract\">\n      <attribute name=\"msfsi_creditscore\" />\n      </link-entity>\n  </entity>\n</fetch>",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Parse_document_request_related_attribute": {
              "runAfter": {
                "Get_document_requests_related_attribute": ["Succeeded"]
              },
              "metadata": {
                "operationMetadataId": "3abb02fa-4455-436d-829d-6299087bf6a1"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@coalesce(first(outputs('Get_document_requests_related_attribute')?['body/value']),json('{}'))",
                "schema": {
                  "type": "object",
                  "properties": {
                    "msfsi_documentrequestid": {
                      "type": "string"
                    },
                    "msfsi_relatedpartycontract.msfsi_creditscore@OData.Community.Display.V1.AttributeName": {
                      "type": "string"
                    },
                    "msfsi_relatedpartycontract.msfsi_creditscore@OData.Community.Display.V1.FormattedValue": {
                      "type": "string"
                    },
                    "msfsi_relatedpartycontract.msfsi_creditscore": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "Set_output": {
              "runAfter": {
                "Parse_document_request_related_attribute": ["Succeeded"]
              },
              "metadata": {
                "operationMetadataId": "da43f8e0-6250-4ca9-8545-cd41c3edf1dd"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "output",
                "value": {
                  "fields": {
                    "creditScore": {
                      "value": "@body('Parse_document_request_related_attribute')?['msfsi_relatedpartycontract.msfsi_creditscore']",
                      "originalValue": "@body('Parse_document_request_related_attribute')?['msfsi_relatedpartycontract.msfsi_creditscore']"
                    }
                  }
                }
              }
            },
            "Check_attribute_value": {
              "actions": {
                "Set_document_state_=_Approved": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0504f131-6ccc-40b6-beb7-cf45df381c57"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Document state",
                    "value": "Approved"
                  }
                }
              },
              "runAfter": {
                "Set_output": ["Succeeded"]
              },
              "else": {
                "actions": {
                  "Set_document_state_=_Rejected": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "5722cff0-16ca-4f88-997a-feebbc8868a4"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Document state",
                      "value": "Rejected"
                    }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@body('Parse_document_request_related_attribute')?['msfsi_relatedpartycontract.msfsi_creditscore']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "a6e11a7c-5628-4319-8df9-27b0fb41beee"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_output_variable": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "78324fd5-f37c-416c-9a4f-6721328bfb36"
          },
          "type": "Scope"
        },
        "Catch_-_Enrichment_process": {
          "actions": {
            "Set_pipeline_state_Failure": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "df103051-33b4-4c58-8335-f8038f5e47d7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Pipeline state",
                "value": "Failure"
              }
            },
            "Set_document_state_Rejected": {
              "runAfter": {
                "Set_pipeline_state_Failure": ["Succeeded"]
              },
              "metadata": {
                "operationMetadataId": "4efc5df2-10be-4f8e-9b18-1affd1b997aa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Document state",
                "value": "Rejected"
              }
            }
          },
          "runAfter": {
            "Try_-_Enrichment_process": ["Failed", "TimedOut"]
          },
          "metadata": {
            "operationMetadataId": "eb94105e-a635-4ea9-95e8-cc5c8f723824"
          },
          "type": "Scope"
        },
        "Post_pipeline_step_functionalities": {
          "runAfter": {
            "Catch_-_Enrichment_process": ["Succeeded", "Skipped"]
          },
          "metadata": {
            "operationMetadataId": "343861b7-62ab-4633-a286-ef935f1c9b90"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "0be25b1f-a9fa-ec11-82e5-000d3a182304"
            },
            "body": {
              "text": "@body('Pre_pipeline_step_functionalities')?['document_pipeline_step_id']",
              "text_1": "@variables('Document state')",
              "text_2": "@variables('Pipeline state')",
              "text_4": "@string(variables('output'))"
            }
          }
        },
        "Initiate_pipeline_step_state": {
          "runAfter": {
            "Initiate_document_state": ["Succeeded"]
          },
          "metadata": {
            "operationMetadataId": "0d9fb2bf-fde8-4a67-bbf2-ffb28ddec744"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Pipeline state",
                "type": "string",
                "value": "Success"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}
