Modules/LoanOnboardingStarter/FSILoanOnboardingStarter/Workflows/Incomestatementdocumentrequest-28DB399B-08CE-ED11-B597-0022481C39A0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_7e301"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "9e9b17e8-6ca6-4133-8c00-25f89e2af17e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msfsi_relatedpartycontract",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_borrower_related_party_role": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8c8c2205-1051-406f-82f1-1fdf1cf25239"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_relatedpartyroles",
              "recordId": "372929d1-f6b9-4c50-ae21-9235b318636e"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Get_income_statement_document_definition": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0efd9a07-a45f-40b0-8b3c-609983205d3a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msfsi_documentdefinitions",
                  "recordId": "6cd2548e-475d-4ce1-a4de-f865b6c88a66"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Add_a_new_row": {
              "runAfter": {
                "Get_income_statement_document_definition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "840c3cdc-1d57-452b-b05a-fd5a7b61b438"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msfsi_documentrequests",
                  "item/msfsi_documentdefinition@odata.bind": "msfsi_documentdefinitions(@{outputs('Get_income_statement_document_definition')?['body/msfsi_documentdefinitionid']})",
                  "item/msfsi_hasautomaticflow": "@outputs('Get_income_statement_document_definition')?['body/msfsi_hasautomaticflow']",
                  "item/msfsi_name": "Income statment - @{triggerOutputs()?['body/msfsi_name']}",
                  "item/msfsi_context_msfsi_application@odata.bind": "msfsi_relatedpartycontracts(@{triggerOutputs()?['body/_msfsi_contractpart_value']})",
                  "item/msfsi_regarding_msfsi_relatedpartycontract@odata.bind": "msfsi_relatedpartycontracts(@{triggerOutputs()?['body/msfsi_relatedpartycontractid']})",
                  "item/msfsi_state": 104800000,
                  "item/msfsi_stateupdatedon": "@utcNow()"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_application": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "or": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/msfsi_isprimary']",
                      true
                    ]
                  },
                  {
                    "equals": [
                      "@triggerOutputs()?['body/_msfsi_relatedparty_role_value']",
                      "@outputs('Get_borrower_related_party_role')?['body/msfsi_relatedpartyroleid']"
                    ]
                  }
                ]
              },
              {
                "equals": [
                  "@outputs('Get_application')?['body/msfsi_businessscenario']",
                  104800001
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "80224b1c-d5eb-4b9d-9961-37cc78e9a42c"
          },
          "type": "If"
        },
        "Get_application": {
          "runAfter": {
            "Get_borrower_related_party_role": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4543d976-2b86-4f33-b292-77c01d9d9822"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_applications",
              "recordId": "@{triggerOutputs()?['body/_msfsi_contractpart_value']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}