Modules/LoanOnboardingStarter/FSILoanOnboardingStarterRibbon/Workflows/ArchiveLoanApplications-4100F8F5-87DC-ED11-A7C7-000D3A57A958.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_a6a71"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "schedule": {
              "hours": [
                "1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9d57b5da-857f-4f54-bdaf-d14bf056a0bd"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c934d18f-3c63-4c17-a7e8-8894d496f1a5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Days",
                "type": "integer",
                "value": 7
              }
            ]
          }
        },
        "List_rows": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a1b6297-5b58-460f-8ea6-b6c3a355ba24"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_applications",
              "$filter": "(Microsoft.Dynamics.CRM.OlderThanXDays(PropertyName='modifiedon',PropertyValue=@{variables('Days')}) and statecode eq 0 and (statuscode eq 6 or statuscode eq 7))"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Perform_a_bound_action": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3345746c-ec1b-4bab-ab58-75584242ce22"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msfsi_applications",
                  "actionName": "Microsoft.Dynamics.CRM.msfsi_ArchiveLoanApplication",
                  "recordId": "@items('Apply_to_each')?['msfsi_applicationid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "195c0ab5-1ef6-40aa-babe-882b0dbb545e"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}