src/adf-ci-template/ADF/arm_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "CITemplateFullADF"
        },
        "lnkFSICDM_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'lnkFSICDM'"
        },
        "lnkCICDM_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'lnkCICDM'"
        },
        "lnkFSICDM_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://cifornewmodelstore.dfs.core.windows.net"
        },
        "lnkCICDM_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://cifornewmodelstore.dfs.core.windows.net"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/dsCICtn')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "CI Data Blob Container",
                "linkedServiceName": {
                    "referenceName": "lnkCICDM",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "tgtCIBlob": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileSystem": {
                            "value": "@dataset().tgtCIBlob",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnkCICDM')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/dsFSICtn')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "FSI Data Blob Container",
                "linkedServiceName": {
                    "referenceName": "lnkCICDM",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "tgtFSIBlob": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileSystem": {
                            "value": "@dataset().tgtFSIBlob",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnkCICDM')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pipFSIToCI')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Shape FSI data (CDM) for CI Ingest (CDM) - Pipeline",
                "activities": [
                    {
                        "name": "pipdfFSIToCI",
                        "description": "FSI to CI Data Flow",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "pipdlCICtn",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "dfFSIToCI",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "srcFSICDMCtn": {
                                        "value": "'@{pipeline().parameters.pipFSICDM}'",
                                        "type": "Expression"
                                    },
                                    "tgtCICDMCtn": {
                                        "value": "'@{pipeline().parameters.pipCICDM}'",
                                        "type": "Expression"
                                    }
                                },
                                "datasetParameters": {
                                    "strFSIContactCDM": {},
                                    "strFSIBankCDM": {},
                                    "strFSIBranchCDM": {},
                                    "strFSICustFinHoldCDM": {},
                                    "strFSIGroupCDM": {},
                                    "strFSIGrpFinHold": {},
                                    "strFSIGrpMbr": {},
                                    "strFSILifMom": {},
                                    "strFSIfiCard": {},
                                    "strFSIfiDD": {},
                                    "strFSIfiOverD": {},
                                    "strFSIfiStdOrd": {},
                                    "strFSIfiFinHolIns": {},
                                    "strFSIfhAcc": {},
                                    "strFSIfhCrdLin": {},
                                    "strFSIfhInv": {},
                                    "strFSIfhLoa": {},
                                    "strFSIfhSav": {},
                                    "strFSIfhFinHol": {},
                                    "strContactMergeCDM": {},
                                    "strCIContactCDM": {},
                                    "strCIBankCDM": {},
                                    "strCIBranchCDM": {},
                                    "strCICustFinHoldCDM": {},
                                    "strCIGroupCDM": {},
                                    "strCIGrpFinHoldCDM": {},
                                    "strCIGrpMbrCDM": {},
                                    "strCILifMomCDM": {},
                                    "strCIfiJoinCDM": {},
                                    "strCIfhJoinCDM": {},
                                    "strCIContactMergeCDM": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Coarse",
                            "runConcurrently": true
                        }
                    },
                    {
                        "name": "pipdlCICtn",
                        "description": "FSI To CI Target BLOB Data Cleanup",
                        "type": "Delete",
                        "dependsOn": [
                            {
                                "activity": "pipchkFSICtn",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "pipchkCICtn",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "dsCICtn",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tgtCIBlob": {
                                        "value": "@concat(pipeline().parameters.pipCICDM, '/Data/')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "enableLogging": false,
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            }
                        }
                    },
                    {
                        "name": "pipchkFSICtn",
                        "description": "Check Source FSI Container is Valid",
                        "type": "Validation",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "dsFSICtn",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tgtFSIBlob": {
                                        "value": "@concat(pipeline().parameters.pipFSICDM,'/model.json')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "timeout": "00.00:01:00",
                            "sleep": 10
                        }
                    },
                    {
                        "name": "pipchkCICtn",
                        "description": "Check Target CI Container is Valid",
                        "type": "Validation",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "dsCICtn",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tgtCIBlob": {
                                        "value": "@concat(pipeline().parameters.pipCICDM,'/Corpus/resolved/')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "timeout": "00.00:01:00",
                            "sleep": 10
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "pipFSICDM": {
                        "type": "string",
                        "defaultValue": "dataverse-cifornewmode-unq578a59ff45e84e7584c510ebe4df3"
                    },
                    "pipCICDM": {
                        "type": "string",
                        "defaultValue": "ciinputfsitest"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2021-12-13T21:04:19Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/dataflows/dfFSIToCI')]",
                "[concat(variables('factoryId'), '/datasets/dsCICtn')]",
                "[concat(variables('factoryId'), '/datasets/dsFSICtn')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/lnkFSICDM')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "FSI Source for CI (CDM)",
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('lnkFSICDM_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('lnkFSICDM_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/lnkCICDM')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "FSI Target for CI (CDM)",
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('lnkCICDM_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('lnkCICDM_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/dfFSIToCI')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Shape FSI data (CDM) for CI Ingest (CDM) - Dataflow (Blueprint)",
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIContactCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIBankCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIBranchCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSICustFinHoldCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIGroupCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIGrpFinHold"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIGrpMbr"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSILifMom"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfiCard"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfiDD"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfiOverD"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfiStdOrd"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfiFinHolIns"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfhAcc"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfhCrdLin"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfhInv"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfhLoa"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfhSav"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strFSIfhFinHol"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkFSICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strContactMergeCDM"
                        }
                    ],
                    "sinks": [
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIContactCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIBankCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIBranchCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCICustFinHoldCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIGroupCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIGrpFinHoldCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIGrpMbrCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCILifMomCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIfiJoinCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIfhJoinCDM"
                        },
                        {
                            "linkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "schemaLinkedService": {
                                "referenceName": "lnkCICDM",
                                "type": "LinkedServiceReference"
                            },
                            "name": "strCIContactMergeCDM"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "strFSIContactCol"
                        },
                        {
                            "name": "strFSIContactTrn"
                        },
                        {
                            "name": "strFSIBankCol"
                        },
                        {
                            "name": "strFSIBankTrn"
                        },
                        {
                            "name": "strFSIBranchCol"
                        },
                        {
                            "name": "strFSIBranchTrn"
                        },
                        {
                            "name": "strFSICustFinHoldCol"
                        },
                        {
                            "name": "strFSICustFinHoldTrn"
                        },
                        {
                            "name": "strFSIGroupCol"
                        },
                        {
                            "name": "strFSIGroupTrn"
                        },
                        {
                            "name": "strFSIGrpFinHoldCol"
                        },
                        {
                            "name": "strFSIGrpFinHoldTrn"
                        },
                        {
                            "name": "strFSIGrpMbrCol"
                        },
                        {
                            "name": "strFSIGrpMbrTrn"
                        },
                        {
                            "name": "strFSILifMomCol"
                        },
                        {
                            "name": "strFSILifMomTrn"
                        },
                        {
                            "name": "strFSIfiCarCol"
                        },
                        {
                            "name": "strFSIfiDDCol"
                        },
                        {
                            "name": "strFSIfiOverDCol"
                        },
                        {
                            "name": "strFSIfiStdOrdCol"
                        },
                        {
                            "name": "strFSIfiCardDD"
                        },
                        {
                            "name": "strFSIfiCardDDOverD"
                        },
                        {
                            "name": "strFSIfiCardDDOverDStdOrd"
                        },
                        {
                            "name": "strFSIfiFinHolInsCol"
                        },
                        {
                            "name": "strFSIfiCardDDOverDStdOrdFI"
                        },
                        {
                            "name": "strFSIfiJoinCol"
                        },
                        {
                            "name": "strFSIfiJoinTrn"
                        },
                        {
                            "name": "strFSIfhAccCol"
                        },
                        {
                            "name": "strFSIfhCrdLinCol"
                        },
                        {
                            "name": "strFSIfhInvCol"
                        },
                        {
                            "name": "strFSIfhLoaCol"
                        },
                        {
                            "name": "strFSIfhSavCol"
                        },
                        {
                            "name": "strFSIfhAccCrdLin"
                        },
                        {
                            "name": "strFSIfhAccCrdLinInv"
                        },
                        {
                            "name": "strFSIfhAccCrdLinInvLoa"
                        },
                        {
                            "name": "strFSIfhAccCrdLinInvLoaSav"
                        },
                        {
                            "name": "strFSIfhFinHolCol"
                        },
                        {
                            "name": "strFSIfhAccCrdLinInvLoaSavFI"
                        },
                        {
                            "name": "strFSIfhJoinCol"
                        },
                        {
                            "name": "strFSIfhJoinColTrn"
                        },
                        {
                            "name": "strContactMergeCol"
                        }
                    ],
                    "script": "parameters{\n\tsrcFSICDMCtn as string,\n\ttgtCICDMCtn as string\n}\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\taddress1_addresstypecode as long,\n\t\tgendercode as long,\n\t\taddress1_shippingmethodcode as long,\n\t\tfamilystatuscode as long,\n\t\tpreferredappointmenttimecode as long,\n\t\tcustomersizecode as long,\n\t\taddress2_shippingmethodcode as long,\n\t\taddress2_freighttermscode as long,\n\t\teducationcode as long,\n\t\tleadsourcecode as long,\n\t\taddress1_freighttermscode as long,\n\t\tshippingmethodcode as long,\n\t\tpreferredcontactmethodcode as long,\n\t\tpaymenttermscode as long,\n\t\tterritorycode as long,\n\t\taddress3_freighttermscode as long,\n\t\taccountrolecode as long,\n\t\taddress2_addresstypecode as long,\n\t\tpreferredappointmentdaycode as long,\n\t\tcustomertypecode as long,\n\t\thaschildrencode as long,\n\t\taddress3_shippingmethodcode as long,\n\t\taddress3_addresstypecode as long,\n\t\tdonotpostalmail as boolean,\n\t\tcreditonhold as boolean,\n\t\tdonotbulkpostalmail as boolean,\n\t\tdonotbulkemail as boolean,\n\t\tdonotfax as boolean,\n\t\tisautocreate as boolean,\n\t\tdonotemail as boolean,\n\t\tfollowemail as boolean,\n\t\tparticipatesinworkflow as boolean,\n\t\tmarketingonly as boolean,\n\t\tisprivate as boolean,\n\t\tisbackofficecustomer as boolean,\n\t\tmsfsi_ismanagedbybanksystem as boolean,\n\t\tmerged as boolean,\n\t\tdonotphone as boolean,\n\t\tdonotsendmm as boolean,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tslaid as string,\n\t\tslaid_entitytype as string,\n\t\tparentcontactid as string,\n\t\tparentcontactid_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tcreatedbyexternalparty as string,\n\t\tcreatedbyexternalparty_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tslainvokedid as string,\n\t\tslainvokedid_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmasterid as string,\n\t\tmasterid_entitytype as string,\n\t\tmodifiedbyexternalparty as string,\n\t\tmodifiedbyexternalparty_entitytype as string,\n\t\taccountid as string,\n\t\taccountid_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_branch as string,\n\t\tmsfsi_branch_entitytype as string,\n\t\tpreferredsystemuserid as string,\n\t\tpreferredsystemuserid_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tparentcustomerid as string,\n\t\tparentcustomerid_entitytype as string,\n\t\taging90 as decimal(18,2),\n\t\taging30 as decimal(18,2),\n\t\taging60_base as decimal(18,2),\n\t\tcreditlimit as decimal(18,2),\n\t\tcreditlimit_base as decimal(18,2),\n\t\taging90_base as decimal(18,2),\n\t\tannualincome as decimal(18,2),\n\t\taging60 as decimal(18,2),\n\t\tannualincome_base as decimal(18,2),\n\t\taging30_base as decimal(18,2),\n\t\tcontactid as string,\n\t\temailaddress3 as string,\n\t\temailaddress2 as string,\n\t\temailaddress1 as string,\n\t\tmsfsi_branchname as string,\n\t\taddress1_city as string,\n\t\taddress3_line1 as string,\n\t\taddress1_line1 as string,\n\t\tmanagerphone as string,\n\t\tmodifiedon as timestamp,\n\t\tyomilastname as string,\n\t\tyomifirstname as string,\n\t\taddress1_longitude as decimal(18,2),\n\t\tyomifullname as string,\n\t\tcreatedbyexternalpartyname as string,\n\t\tentityimage_timestamp as long,\n\t\taddress3_line3 as string,\n\t\taddress2_county as string,\n\t\taddress2_city as string,\n\t\tentityimage_url as string,\n\t\tpreferredsystemuseridyominame as string,\n\t\ttelephone1 as string,\n\t\taccountidname as string,\n\t\taddress3_utcoffset as long,\n\t\taddress3_primarycontactname as string,\n\t\tmodifiedbyexternalpartyyominame as string,\n\t\tpreferredsystemuseridname as string,\n\t\taddress2_stateorprovince as string,\n\t\tmobilephone as string,\n\t\tparentcustomeridyominame as string,\n\t\taddress2_line2 as string,\n\t\tassistantphone as string,\n\t\taddress1_line3 as string,\n\t\tonholdtime as long,\n\t\taddress3_longitude as decimal(18,2),\n\t\towningbusinessunitname as string,\n\t\tbirthdate as timestamp,\n\t\taddress1_utcoffset as long,\n\t\tversionnumber as long,\n\t\tmodifiedbyexternalpartyname as string,\n\t\taddress1_telephone1 as string,\n\t\texchangerate as decimal(18,2),\n\t\taddress3_composite as string,\n\t\ttelephone3 as string,\n\t\tfax as string,\n\t\tnickname as string,\n\t\taddress3_line2 as string,\n\t\tchildrensnames as string,\n\t\taddress2_latitude as decimal(18,2),\n\t\tcreatedon as timestamp,\n\t\tslaname as string,\n\t\ttimespentbymeonemailandmeetings as string,\n\t\taddress1_composite as string,\n\t\tfirstname as string,\n\t\tcallback as string,\n\t\taddress2_postalcode as string,\n\t\tlastusedincampaign as timestamp,\n\t\temployeeid as string,\n\t\tprocessid as string,\n\t\towneridyominame as string,\n\t\tgovernmentid as string,\n\t\taddress2_line3 as string,\n\t\tdescription as string,\n\t\ttimezoneruleversionnumber as long,\n\t\taddress1_county as string,\n\t\tcreatedbyname as string,\n\t\tparentcontactidyominame as string,\n\t\thome2 as string,\n\t\taddress3_county as string,\n\t\tmsfsi_placeholder as string,\n\t\tpager as string,\n\t\taddress2_postofficebox as string,\n\t\taddress2_telephone1 as string,\n\t\taddress2_telephone2 as string,\n\t\taddress2_telephone3 as string,\n\t\taddress1_addressid as string,\n\t\ttraversedpath as string,\n\t\tmsfsi_joindate as timestamp,\n\t\twebsiteurl as string,\n\t\taddress2_name as string,\n\t\taddress1_country as string,\n\t\towneridtype as string,\n\t\taddress3_telephone2 as string,\n\t\tentityimageid as string,\n\t\towneridname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\toverriddencreatedon as timestamp,\n\t\taddress2_composite as string,\n\t\ttransactioncurrencyidname as string,\n\t\taddress1_stateorprovince as string,\n\t\texternaluseridentifier as string,\n\t\tcreatedonbehalfbyname as string,\n\t\tcreatedbyexternalpartyyominame as string,\n\t\tmastercontactidname as string,\n\t\tjobtitle as string,\n\t\tmanagername as string,\n\t\taddress1_telephone2 as string,\n\t\taddress1_telephone3 as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tsuffix as string,\n\t\tspousesname as string,\n\t\tslainvokedidname as string,\n\t\taddress2_country as string,\n\t\tmastercontactidyominame as string,\n\t\tassistantname as string,\n\t\tyomimiddlename as string,\n\t\taddress3_country as string,\n\t\taddress2_utcoffset as long,\n\t\tstageid as string,\n\t\taddress2_upszone as string,\n\t\taddress2_fax as string,\n\t\tmsfsi_tenureyears as decimal(18,2),\n\t\taddress2_longitude as decimal(18,2),\n\t\taddress3_latitude as decimal(18,2),\n\t\taddress1_primarycontactname as string,\n\t\tmodifiedbyyominame as string,\n\t\tlastonholdtime as timestamp,\n\t\taddress1_line2 as string,\n\t\tcompany as string,\n\t\taddress3_name as string,\n\t\taddress3_fax as string,\n\t\tsalutation as string,\n\t\taddress1_postalcode as string,\n\t\taddress3_telephone1 as string,\n\t\taddress3_upszone as string,\n\t\tutcconversiontimezonecode as long,\n\t\taddress3_postalcode as string,\n\t\taddress2_addressid as string,\n\t\taddress3_stateorprovince as string,\n\t\tanniversary as timestamp,\n\t\timportsequencenumber as long,\n\t\ttelephone2 as string,\n\t\tsubscriptionid as string,\n\t\tdepartment as string,\n\t\taddress3_city as string,\n\t\tbusiness2 as string,\n\t\tmiddlename as string,\n\t\taddress1_name as string,\n\t\taddress1_fax as string,\n\t\taddress1_latitude as decimal(18,2),\n\t\taddress3_telephone3 as string,\n\t\taddress3_postofficebox as string,\n\t\tparentcustomeridtype as string,\n\t\tparentcontactidname as string,\n\t\tmodifiedbyname as string,\n\t\tcreatedbyyominame as string,\n\t\taddress2_line1 as string,\n\t\taddress1_upszone as string,\n\t\tlastname as string,\n\t\taccountidyominame as string,\n\t\tfullname as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tftpsiteurl as string,\n\t\tnumberofchildren as long,\n\t\taddress1_postofficebox as string,\n\t\taddress2_primarycontactname as string,\n\t\tparentcustomeridname as string,\n\t\taddress3_addressid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'contact',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIContactCDM\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmodifiedbyyominame as string,\n\t\tcreatedbyname as string,\n\t\tmsfsi_bankcode as string,\n\t\tmodifiedon as timestamp,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_stateorprovince as string,\n\t\tmsfsi_telephone1 as string,\n\t\towningbusinessunitname as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\towneridname as string,\n\t\timportsequencenumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_postalcode as string,\n\t\tversionnumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_country as string,\n\t\towneridtype as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_addressline2 as string,\n\t\tmsfsi_integrationkey as string,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tmsfsi_addressline1 as string,\n\t\tmsfsi_bankid as string,\n\t\tcreatedbyyominame as string,\n\t\tmsfsi_city as string,\n\t\towneridyominame as string,\n\t\tmsfsi_addressline3 as string,\n\t\tutcconversiontimezonecode as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_bank',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIBankCDM\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tmsfsi_bank as string,\n\t\tmsfsi_bank_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmsfsi_branchmanager as string,\n\t\tmsfsi_branchmanager_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmodifiedbyyominame as string,\n\t\tcreatedbyname as string,\n\t\tmsfsi_branchmanageryominame as string,\n\t\tmodifiedon as timestamp,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_stateorprovince as string,\n\t\tmsfsi_telephone1 as string,\n\t\towningbusinessunitname as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\towneridname as string,\n\t\timportsequencenumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_postalcode as string,\n\t\tversionnumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_country as string,\n\t\towneridtype as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_addressline2 as string,\n\t\tmsfsi_integrationkey as string,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_branchmanagername as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tmsfsi_addressline1 as string,\n\t\tmsfsi_branchcode as string,\n\t\tcreatedbyyominame as string,\n\t\tmsfsi_bankname as string,\n\t\towneridyominame as string,\n\t\tmsfsi_addressline3 as string,\n\t\tmsfsi_branchid as string,\n\t\tutcconversiontimezonecode as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_branch',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIBranchCDM\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_financialholdingrole as long,\n\t\tmsfsi_customerid as string,\n\t\tmsfsi_customerid_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmsfsi_financialholdingid as string,\n\t\tmsfsi_financialholdingid_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_customeridyominame as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_financialholdingidname as string,\n\t\tversionnumber as long,\n\t\towningbusinessunitname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_customerididtype as string,\n\t\towneridname as string,\n\t\toverriddencreatedon as timestamp,\n\t\tmsfsi_customeridname as string,\n\t\tcreatedonbehalfbyname as string,\n\t\tmodifiedbyname as string,\n\t\tmodifiedon as timestamp,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmodifiedbyyominame as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\tcreatedon as timestamp,\n\t\ttimezoneruleversionnumber as long,\n\t\towneridtype as string,\n\t\timportsequencenumber as long,\n\t\tmsfsi_customerfinancialholdingid as string,\n\t\tcreatedbyyominame as string,\n\t\towneridyominame as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_customerfinancialholding',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSICustFinHoldCDM\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_type as long,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_primarymember as string,\n\t\tmsfsi_primarymember_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_groupid as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tversionnumber as long,\n\t\tmsfsi_primarymembername as string,\n\t\towningbusinessunitname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\towneridname as string,\n\t\tmsfsi_primarymemberyominame as string,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_primarymemberidtype as string,\n\t\tmodifiedbyname as string,\n\t\tmodifiedon as timestamp,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmodifiedbyyominame as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\tcreatedon as timestamp,\n\t\ttimezoneruleversionnumber as long,\n\t\towneridtype as string,\n\t\timportsequencenumber as long,\n\t\tcreatedbyyominame as string,\n\t\towneridyominame as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_group',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIGroupCDM\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_financialholding as string,\n\t\tmsfsi_financialholding_entitytype as string,\n\t\tmsfsi_group as string,\n\t\tmsfsi_group_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_groupname as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tversionnumber as long,\n\t\towningbusinessunitname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\towneridname as string,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_groupfinancialholdingid as string,\n\t\tmodifiedon as timestamp,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmodifiedbyyominame as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_financialholdingname as string,\n\t\tcreatedon as timestamp,\n\t\ttimezoneruleversionnumber as long,\n\t\towneridtype as string,\n\t\timportsequencenumber as long,\n\t\tcreatedbyyominame as string,\n\t\towneridyominame as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_groupfinancialholding',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIGrpFinHold\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_role as long,\n\t\tmsfsi_isprimarygroup as boolean,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tmsfsi_member as string,\n\t\tmsfsi_member_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_group as string,\n\t\tmsfsi_group_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_groupname as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_membername as string,\n\t\tmodifiedbyyominame as string,\n\t\toverriddencreatedon as timestamp,\n\t\tmodifiedon as timestamp,\n\t\ttimezoneruleversionnumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_groupmemberid as string,\n\t\tversionnumber as long,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tcreatedbyname as string,\n\t\timportsequencenumber as long,\n\t\towneridname as string,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_memberyominame as string,\n\t\tutcconversiontimezonecode as long,\n\t\tcreatedonbehalfbyname as string,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_memberidtype as string,\n\t\tmsfsi_name as string,\n\t\tcreatedbyyominame as string,\n\t\towneridtype as string,\n\t\towneridyominame as string,\n\t\towningbusinessunitname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_groupmember',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIGrpMbr\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_lifemomenttype as long,\n\t\tmsfsi_lifemomentcategory as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmsfsi_contact as string,\n\t\tmsfsi_contact_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_lifemomentdate as timestamp,\n\t\tcreatedbyname as string,\n\t\tmodifiedon as timestamp,\n\t\tmodifiedbyyominame as string,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_contactname as string,\n\t\towningbusinessunitname as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\towneridname as string,\n\t\timportsequencenumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tversionnumber as long,\n\t\tcreatedon as timestamp,\n\t\towneridtype as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_modifiedon as timestamp,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tcreatedbyyominame as string,\n\t\tmsfsi_contactyominame as string,\n\t\tmsfsi_lifemomentid as string,\n\t\towneridyominame as string,\n\t\tmsfsi_lifemomenttitle as string,\n\t\tutcconversiontimezonecode as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_lifemoment',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSILifMom\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_cardtype as long,\n\t\tmsfsi_financialinstrumenttype as long,\n\t\tmsfsi_status as long,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_cardholder as string,\n\t\tmsfsi_cardholder_entitytype as string,\n\t\tmsfsi_withdrawallimit as decimal(18,2),\n\t\tmsfsi_purchasinglimit as decimal(18,2),\n\t\tmsfsi_purchasinglimit_base as decimal(18,2),\n\t\tmsfsi_withdrawallimit_base as decimal(18,2),\n\t\tmsfsi_expirydate as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\ttimezoneruleversionnumber as long,\n\t\towneridtype as string,\n\t\tmsfsi_cardnumber as string,\n\t\tmsfsi_fi_cardid as string,\n\t\tmsfsi_dateoflastcashwithdrawal as timestamp,\n\t\tversionnumber as long,\n\t\tmodifiedbyyominame as string,\n\t\tmsfsi_purchasinglimit_default as decimal(18,2),\n\t\tmsfsi_withdrawallimit_default as decimal(18,2),\n\t\tmsfsi_name as string,\n\t\timportsequencenumber as long,\n\t\tcreatedon as timestamp,\n\t\tcreatedbyyominame as string,\n\t\tmsfsi_numberofcashwithdrawal as long,\n\t\toverriddencreatedon as timestamp,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_dateoflasttransaction as timestamp,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_cardnetwork as string,\n\t\tmsfsi_cardholderyominame as string,\n\t\towneridyominame as string,\n\t\ttransactioncurrencyidname as string,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_cardholdername as string,\n\t\tmsfsi_productname as string,\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_numberoftransactions as long,\n\t\tmsfsi_activationdate as timestamp,\n\t\tmodifiedonbehalfbyname as string,\n\t\towningbusinessunitname as string,\n\t\texchangerate as decimal(18,2),\n\t\towneridname as string,\n\t\tmsfsi_issuedate as timestamp,\n\t\tmsfsi_cardholderidtype as string,\n\t\tmsfsi_embossingname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fi_card',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfiCard\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_lastitemstatus as long,\n\t\tmsfsi_financialinstrumenttype as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_nextitemamount as decimal(18,2),\n\t\tmsfsi_mandatelimit as decimal(18,2),\n\t\tmsfsi_mandatelimit_base as decimal(18,2),\n\t\tmsfsi_nextitemamount_base as decimal(18,2),\n\t\tmsfsi_lastitemamount as decimal(18,2),\n\t\tmsfsi_lastitemamount_base as decimal(18,2),\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_nextitemamount_default as decimal(18,2),\n\t\tcreatedbyname as string,\n\t\tmsfsi_lastitemdate as timestamp,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_lastitemstatusreason as string,\n\t\tmsfsi_creditoridentifier as string,\n\t\tmsfsi_orderenddate as timestamp,\n\t\timportsequencenumber as long,\n\t\tmsfsi_mandateenddate as timestamp,\n\t\tmodifiedbyyominame as string,\n\t\towneridname as string,\n\t\tmsfsi_fi_directdebitid as string,\n\t\tmsfsi_creditorname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tcreatedbyyominame as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tversionnumber as long,\n\t\tmsfsi_nextitemdate as timestamp,\n\t\tmsfsi_lastitemamount_default as decimal(18,2),\n\t\tmodifiedbyname as string,\n\t\towneridtype as string,\n\t\towneridyominame as string,\n\t\tmsfsi_debtoraccount as string,\n\t\tmodifiedon as timestamp,\n\t\texchangerate as decimal(18,2),\n\t\tmsfsi_standingorderamount as decimal(18,2),\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tcreatedon as timestamp,\n\t\towningbusinessunitname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_mandatestartdate as timestamp,\n\t\tmsfsi_name as string,\n\t\tmsfsi_mandatelimit_default as decimal(18,2),\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_mandateid as string,\n\t\toverriddencreatedon as timestamp,\n\t\ttransactioncurrencyidname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fi_directdebit',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfiDD\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_financialinstrumenttype as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_overdraftlimit_base as decimal(18,2),\n\t\tmsfsi_overdraftlimitused as decimal(18,2),\n\t\tmsfsi_overdraftlimitused_base as decimal(18,2),\n\t\tmsfsi_overdraftlimit as decimal(18,2),\n\t\tmodifiedbyyominame as string,\n\t\tcreatedbyname as string,\n\t\tmsfsi_overdraftlimitused_default as decimal(18,2),\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_fi_overdraftid as string,\n\t\tmodifiedbyname as string,\n\t\towningbusinessunitname as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\towneridname as string,\n\t\timportsequencenumber as long,\n\t\tmsfsi_overdraftrate as decimal(18,2),\n\t\tmsfsi_overdraftlimit_default as decimal(18,2),\n\t\tmodifiedonbehalfbyname as string,\n\t\tversionnumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_integrationkey as string,\n\t\towneridtype as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\texchangerate as decimal(18,2),\n\t\ttimezoneruleversionnumber as long,\n\t\ttransactioncurrencyidname as string,\n\t\tcreatedbyyominame as string,\n\t\towneridyominame as string,\n\t\tutcconversiontimezonecode as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fi_overdraft',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfiOverD\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_dayofweek as long,\n\t\tmsfsi_lastitemstatus as long,\n\t\tmsfsi_frequency as long,\n\t\tmsfsi_financialinstrumenttype as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_nextitemamount as decimal(18,2),\n\t\tmsfsi_nextitemamount_base as decimal(18,2),\n\t\tmsfsi_lastitemamount as decimal(18,2),\n\t\tmsfsi_lastitemamount_base as decimal(18,2),\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_nextitemamount_default as decimal(18,2),\n\t\tcreatedbyname as string,\n\t\tmsfsi_lastitemdate as timestamp,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_firstpaymentdate as timestamp,\n\t\tmsfsi_dayofmonth as long,\n\t\tmsfsi_creditorname as string,\n\t\timportsequencenumber as long,\n\t\tmodifiedbyyominame as string,\n\t\tmsfsi_creditoraccount as string,\n\t\tmsfsi_lastitemstatusreason as string,\n\t\tutcconversiontimezonecode as long,\n\t\tcreatedbyyominame as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tversionnumber as long,\n\t\tmsfsi_nextitemdate as timestamp,\n\t\tmsfsi_lastitemamount_default as decimal(18,2),\n\t\tmodifiedbyname as string,\n\t\towneridtype as string,\n\t\towneridyominame as string,\n\t\tmsfsi_debtoraccount as string,\n\t\tmodifiedon as timestamp,\n\t\texchangerate as decimal(18,2),\n\t\tmsfsi_standingorderamount as decimal(18,2),\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_fi_standingorderid as string,\n\t\tcreatedon as timestamp,\n\t\towningbusinessunitname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_name as string,\n\t\towneridname as string,\n\t\tcreatedonbehalfbyname as string,\n\t\toverriddencreatedon as timestamp,\n\t\ttransactioncurrencyidname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fi_standingorder',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfiStdOrd\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_financialholdinginstrumenttype as long,\n\t\tmsfsi_financialholding as string,\n\t\tmsfsi_financialholding_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_details as string,\n\t\tmsfsi_details_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_financialholdinginstrumentid as string,\n\t\tmodifiedbyyominame as string,\n\t\tcreatedbyname as string,\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_financialholdingname as string,\n\t\tmodifiedbyname as string,\n\t\towningbusinessunitname as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_detailsidtype as string,\n\t\timportsequencenumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tversionnumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_integrationkey as string,\n\t\towneridtype as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_financialinstrumentcode as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tmsfsi_detailsyominame as string,\n\t\tcreatedbyyominame as string,\n\t\towneridyominame as string,\n\t\towneridname as string,\n\t\tmsfsi_detailsname as string,\n\t\tutcconversiontimezonecode as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_financialholdinginstrument',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfiFinHolIns\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_accountingclassification as long,\n\t\tmsfsi_interesttype as long,\n\t\tmsfsi_financialholdingcategory as long,\n\t\tmsfsi_financialholdingtype as long,\n\t\tmsfsi_delinquencystatus as boolean,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_balancedisplayvalue as decimal(18,2),\n\t\tmsfsi_balancedisplayvalue_base as decimal(18,2),\n\t\tmsfsi_availablebalance as decimal(18,2),\n\t\tmsfsi_balance as decimal(18,2),\n\t\tmsfsi_blockedamount_base as decimal(18,2),\n\t\tmsfsi_unclearedbalance as decimal(18,2),\n\t\tmsfsi_blockedamount as decimal(18,2),\n\t\tmsfsi_balance_base as decimal(18,2),\n\t\tmsfsi_averagebalance_base as decimal(18,2),\n\t\tmsfsi_unclearedbalance_base as decimal(18,2),\n\t\tmsfsi_averagebalance as decimal(18,2),\n\t\tmsfsi_availablebalance_base as decimal(18,2),\n\t\tmsfsi_numberoftransactions as long,\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_balancedefaultdisplayvalue as decimal(18,2),\n\t\towneridtype as string,\n\t\tmsfsi_balanceexchangerate as decimal(18,2),\n\t\ttimezoneruleversionnumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_interestrate as decimal(18,2),\n\t\tversionnumber as long,\n\t\tcreatedbyyominame as string,\n\t\tmodifiedbyyominame as string,\n\t\tmsfsi_name as string,\n\t\timportsequencenumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_averagebalance_default as decimal(18,2),\n\t\tmsfsi_balancedefault as decimal(18,2),\n\t\tmsfsi_availablebalance_default as decimal(18,2),\n\t\toverriddencreatedon as timestamp,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_dateoflasttransaction as timestamp,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_fh_accountid as string,\n\t\towneridyominame as string,\n\t\ttransactioncurrencyidname as string,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmodifiedbyname as string,\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_unclearedbalance_default as decimal(18,2),\n\t\tmsfsi_blockedamount_default as decimal(18,2),\n\t\towningbusinessunitname as string,\n\t\texchangerate as decimal(18,2),\n\t\towneridname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fh_account',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfhAcc\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_accountingclassification as long,\n\t\tmsfsi_financialholdingcategory as long,\n\t\tmsfsi_financialholdingtype as long,\n\t\tmsfsi_delinquencystatus as boolean,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_minimumpaymentdue as decimal(18,2),\n\t\tmsfsi_balancedisplayvalue_base as decimal(18,2),\n\t\tmsfsi_balance_base as decimal(18,2),\n\t\tmsfsi_minimumpaymentdue_base as decimal(18,2),\n\t\tmsfsi_creditlimit_base as decimal(18,2),\n\t\tmsfsi_balance as decimal(18,2),\n\t\tmsfsi_creditlimit as decimal(18,2),\n\t\tmsfsi_laststatementbalance_base as decimal(18,2),\n\t\tmsfsi_balancedisplayvalue as decimal(18,2),\n\t\tmsfsi_laststatementbalance as decimal(18,2),\n\t\tversionnumber as long,\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_balancedefaultdisplayvalue as decimal(18,2),\n\t\tmsfsi_laststatementbalance_default as decimal(18,2),\n\t\towneridtype as string,\n\t\tmsfsi_balanceexchangerate as decimal(18,2),\n\t\ttimezoneruleversionnumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_interestrate as decimal(18,2),\n\t\tmodifiedbyyominame as string,\n\t\tmsfsi_lastpaymentduedate as timestamp,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_name as string,\n\t\timportsequencenumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_balancedefault as decimal(18,2),\n\t\tmsfsi_nextstatementdate as timestamp,\n\t\tcreatedbyyominame as string,\n\t\toverriddencreatedon as timestamp,\n\t\tmsfsi_fh_creditlineid as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_monthlypaymentpercentage as decimal(18,2),\n\t\towneridyominame as string,\n\t\ttransactioncurrencyidname as string,\n\t\tmsfsi_laststatementdate as timestamp,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmodifiedbyname as string,\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_nextpaymentdate as timestamp,\n\t\towningbusinessunitname as string,\n\t\towneridname as string,\n\t\texchangerate as decimal(18,2),\n\t\tmsfsi_creditlimit_default as decimal(18,2),\n\t\tmsfsi_minimumpaymentdue_default as decimal(18,2)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fh_creditline',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','yyyy/MM/dd','dd/MM/yyyy','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfhCrdLin\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_accountingclassification as long,\n\t\tmsfsi_financialholdingtype as long,\n\t\tmsfsi_investmentrisk as long,\n\t\tmsfsi_investmenttimeframe as long,\n\t\tmsfsi_investmentobjectives as long,\n\t\tmsfsi_financialholdingcategory as long,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_balancedisplayvalue_base as decimal(18,2),\n\t\tmsfsi_gainloss_base as decimal(18,2),\n\t\tmsfsi_balance_base as decimal(18,2),\n\t\tmsfsi_balance as decimal(18,2),\n\t\tmsfsi_gainloss as decimal(18,2),\n\t\tmsfsi_cashbalance as decimal(18,2),\n\t\tmsfsi_balancedisplayvalue as decimal(18,2),\n\t\tmsfsi_cashbalance_base as decimal(18,2),\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_balancedefaultdisplayvalue as decimal(18,2),\n\t\towneridtype as string,\n\t\tmsfsi_integrationkey as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tversionnumber as long,\n\t\tmodifiedbyyominame as string,\n\t\tmsfsi_gainloss_default as decimal(18,2),\n\t\tmsfsi_performanceytd as decimal(18,2),\n\t\tmsfsi_name as string,\n\t\timportsequencenumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_balancedefault as decimal(18,2),\n\t\tcreatedbyyominame as string,\n\t\toverriddencreatedon as timestamp,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_cashbalance_default as decimal(18,2),\n\t\tmsfsi_openeddate as timestamp,\n\t\towneridyominame as string,\n\t\tmsfsi_performance1y as decimal(18,2),\n\t\ttransactioncurrencyidname as string,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_fh_investmentid as string,\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_balanceexchangerate as decimal(18,2),\n\t\tmsfsi_portfolioname as string,\n\t\towningbusinessunitname as string,\n\t\tmsfsi_performance3y as decimal(18,2),\n\t\texchangerate as decimal(18,2),\n\t\towneridname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fh_investment',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfhInv\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_interesttype as long,\n\t\tmsfsi_financialholdingcategory as long,\n\t\tmsfsi_financialholdingtype as long,\n\t\tmsfsi_modeofpayment as long,\n\t\tmsfsi_accountingclassification as long,\n\t\tmsfsi_collectionrisk as long,\n\t\tmsfsi_delinquencystatus as boolean,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_lastpaymentamount_base as decimal(18,2),\n\t\tmsfsi_totalarrear as decimal(18,2),\n\t\tmsfsi_principalamount as decimal(18,2),\n\t\tmsfsi_balancedisplayvalue as decimal(18,2),\n\t\tmsfsi_lastpaymentamount as decimal(18,2),\n\t\tmsfsi_totalinterestpaid_base as decimal(18,2),\n\t\tmsfsi_interestarrears as decimal(18,2),\n\t\tmsfsi_totalinterestpaid as decimal(18,2),\n\t\tmsfsi_interestarrears_base as decimal(18,2),\n\t\tmsfsi_balancedisplayvalue_base as decimal(18,2),\n\t\tmsfsi_nextpaymentamount_base as decimal(18,2),\n\t\tmsfsi_feearrears as decimal(18,2),\n\t\tmsfsi_capitalarrears_base as decimal(18,2),\n\t\tmsfsi_totalarrear_base as decimal(18,2),\n\t\tmsfsi_feearrears_base as decimal(18,2),\n\t\tmsfsi_balance_base as decimal(18,2),\n\t\tmsfsi_disbursedamount_base as decimal(18,2),\n\t\tmsfsi_nextpaymentamount as decimal(18,2),\n\t\tmsfsi_disbursedamount as decimal(18,2),\n\t\tmsfsi_principalamount_base as decimal(18,2),\n\t\tmsfsi_installmentamount_base as decimal(18,2),\n\t\tmsfsi_balance as decimal(18,2),\n\t\tmsfsi_capitalarrears as decimal(18,2),\n\t\tmsfsi_installmentamount as decimal(18,2),\n\t\tmsfsi_totalinterestpaid_default as decimal(18,2),\n\t\tmsfsi_balancedefault as decimal(18,2),\n\t\tmsfsi_fh_loanid as string,\n\t\tcreatedbyyominame as string,\n\t\tcreatedbyname as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\towneridtype as string,\n\t\tmsfsi_balanceexchangerate as decimal(18,2),\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_numberofinstallmentspaid as long,\n\t\tmsfsi_nextpaymentamount_default as decimal(18,2),\n\t\tmsfsi_loanstartdate as timestamp,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_interestarrears_default as decimal(18,2),\n\t\tmodifiedonbehalfbyname as string,\n\t\tmodifiedbyyominame as string,\n\t\tmsfsi_disbursedamount_default as decimal(18,2),\n\t\towneridyominame as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_overduedate as timestamp,\n\t\towneridname as string,\n\t\timportsequencenumber as long,\n\t\tmsfsi_capitalarrears_default as decimal(18,2),\n\t\tmsfsi_balancedefaultdisplayvalue as decimal(18,2),\n\t\tmsfsi_maturitydate as timestamp,\n\t\tmsfsi_nextpaymentdate as timestamp,\n\t\tmsfsi_nextinterestreviewdate as timestamp,\n\t\tutcconversiontimezonecode as long,\n\t\tmsfsi_dayspastdue as long,\n\t\tmsfsi_numberofdeferralsmade as long,\n\t\tmodifiedbyname as string,\n\t\tmsfsi_repaymentaccount as string,\n\t\tmsfsi_integrationkey as string,\n\t\ttimezoneruleversionnumber as long,\n\t\toverriddencreatedon as timestamp,\n\t\texchangerate as decimal(18,2),\n\t\tmsfsi_interestreviewperiod as string,\n\t\tmsfsi_feearrears_default as decimal(18,2),\n\t\towningbusinessunitname as string,\n\t\tcreatedon as timestamp,\n\t\tversionnumber as long,\n\t\tmsfsi_installmentamount_default as decimal(18,2),\n\t\tmsfsi_interestrate as decimal(18,2),\n\t\tmsfsi_totalarrear_default as decimal(18,2),\n\t\tmsfsi_disbursementdate as timestamp,\n\t\tmsfsi_lastpaymentamount_default as decimal(18,2),\n\t\tmsfsi_lastpaymentdate as timestamp,\n\t\tmsfsi_principalamount_default as decimal(18,2),\n\t\ttransactioncurrencyidname as string,\n\t\tcreatedonbehalfbyname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fh_loan',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','yyyy/MM/dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','yyyy-MM-dd','dd-MM-yyyy','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfhLoa\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_accountingclassification as long,\n\t\tmsfsi_financialholdingcategory as long,\n\t\tmsfsi_financialholdingtype as long,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmsfsi_balancedisplayvalue_base as decimal(18,2),\n\t\tmsfsi_balance_base as decimal(18,2),\n\t\tmsfsi_balanceatmaturity as decimal(18,2),\n\t\tmsfsi_balance as decimal(18,2),\n\t\tmsfsi_balanceatmaturity_base as decimal(18,2),\n\t\tmsfsi_blockedamount_base as decimal(18,2),\n\t\tmsfsi_projectedinterestamount as decimal(18,2),\n\t\tmsfsi_blockedamount as decimal(18,2),\n\t\tmsfsi_projectedinterestamount_base as decimal(18,2),\n\t\tmsfsi_accruedinterest as decimal(18,2),\n\t\tmsfsi_balancedisplayvalue as decimal(18,2),\n\t\tmsfsi_accruedinterest_base as decimal(18,2),\n\t\tcreatedonbehalfbyname as string,\n\t\tmsfsi_balancedefaultdisplayvalue as decimal(18,2),\n\t\towneridtype as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsfsi_projectedinterestamount_default as decimal(18,2),\n\t\tmsfsi_interestrate as decimal(18,2),\n\t\tmsfsi_accruedinterest_default as decimal(18,2),\n\t\tversionnumber as long,\n\t\tcreatedbyyominame as string,\n\t\tmodifiedbyyominame as string,\n\t\tmsfsi_fh_savingid as string,\n\t\tmsfsi_name as string,\n\t\timportsequencenumber as long,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_balancedefault as decimal(18,2),\n\t\toverriddencreatedon as timestamp,\n\t\tmsfsi_balanceatmaturity_default as decimal(18,2),\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_integrationkey as string,\n\t\towneridyominame as string,\n\t\tmsfsi_initialsource as string,\n\t\ttransactioncurrencyidname as string,\n\t\tmsfsi_maturityinstructionsdetails as string,\n\t\tcreatedbyname as string,\n\t\tutcconversiontimezonecode as long,\n\t\tmsfsi_maturitydate as timestamp,\n\t\tmodifiedon as timestamp,\n\t\tmsfsi_balanceexchangerate as decimal(18,2),\n\t\tmsfsi_blockedamount_default as decimal(18,2),\n\t\towningbusinessunitname as string,\n\t\texchangerate as decimal(18,2),\n\t\towneridname as string,\n\t\tmsfsi_term as long,\n\t\tmodifiedbyname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_fh_saving',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfhSav\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsfsi_financialholdingcategory as long,\n\t\tmsfsi_accountingclassification as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_details as string,\n\t\tmsfsi_details_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tmodifiedbyyominame as string,\n\t\tcreatedbyname as string,\n\t\tmodifiedon as timestamp,\n\t\tmodifiedbyname as string,\n\t\tversionnumber as long,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tmsfsi_financialholdingid as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_detailsidtype as string,\n\t\timportsequencenumber as long,\n\t\tmodifiedonbehalfbyname as string,\n\t\towningbusinessunitname as string,\n\t\tcreatedon as timestamp,\n\t\tmsfsi_integrationkey as string,\n\t\towneridtype as string,\n\t\tmsfsi_validfrom as timestamp,\n\t\toverriddencreatedon as timestamp,\n\t\tcreatedonbehalfbyname as string,\n\t\ttimezoneruleversionnumber as long,\n\t\tmsfsi_detailsyominame as string,\n\t\tcreatedbyyominame as string,\n\t\towneridyominame as string,\n\t\towneridname as string,\n\t\tmsfsi_detailsname as string,\n\t\tmsfsi_financialholdingcode as string,\n\t\tutcconversiontimezonecode as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tentity: 'msfsi_financialholding',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn),\n\tdateFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd'],\n\ttimestampFormats: ['MM/dd/yyyy','dd/MM/yyyy','yyyy/MM/dd','MM/dd/yyyy HH:mm:ss','MM/dd/yyyy hh:mm:ss a','MM-dd-yyyy','dd-MM-yyyy','yyyy-MM-dd','MM-dd-yyyy HH:mm:ss','MM-dd-yyyy hh:mm:ss a','dd.MM.yyyy','MM.dd.yyyy','yyyy.MM.dd','yyyy.MM.dd HH:mm:ss','yyyy.MM.dd hh:mm:ss a','yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'']) ~> strFSIfhFinHol\nsource(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\taddress1_addresstypecode as long,\n\t\tgendercode as long,\n\t\taddress1_shippingmethodcode as long,\n\t\tfamilystatuscode as long,\n\t\tpreferredappointmenttimecode as long,\n\t\tcustomersizecode as long,\n\t\taddress2_shippingmethodcode as long,\n\t\taddress2_freighttermscode as long,\n\t\teducationcode as long,\n\t\tleadsourcecode as long,\n\t\taddress1_freighttermscode as long,\n\t\tshippingmethodcode as long,\n\t\tpreferredcontactmethodcode as long,\n\t\tpaymenttermscode as long,\n\t\tterritorycode as long,\n\t\taddress3_freighttermscode as long,\n\t\taccountrolecode as long,\n\t\taddress2_addresstypecode as long,\n\t\tpreferredappointmentdaycode as long,\n\t\tcustomertypecode as long,\n\t\thaschildrencode as long,\n\t\taddress3_shippingmethodcode as long,\n\t\taddress3_addresstypecode as long,\n\t\tdonotpostalmail as boolean,\n\t\tcreditonhold as boolean,\n\t\tdonotbulkpostalmail as boolean,\n\t\tdonotbulkemail as boolean,\n\t\tdonotfax as boolean,\n\t\tisautocreate as boolean,\n\t\tdonotemail as boolean,\n\t\tfollowemail as boolean,\n\t\tparticipatesinworkflow as boolean,\n\t\tmarketingonly as boolean,\n\t\tisprivate as boolean,\n\t\tisbackofficecustomer as boolean,\n\t\tmsfsi_ismanagedbybanksystem as boolean,\n\t\tmerged as boolean,\n\t\tdonotphone as boolean,\n\t\tdonotsendmm as boolean,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tslaid as string,\n\t\tslaid_entitytype as string,\n\t\tparentcontactid as string,\n\t\tparentcontactid_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tcreatedbyexternalparty as string,\n\t\tcreatedbyexternalparty_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tslainvokedid as string,\n\t\tslainvokedid_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmasterid as string,\n\t\tmasterid_entitytype as string,\n\t\tmodifiedbyexternalparty as string,\n\t\tmodifiedbyexternalparty_entitytype as string,\n\t\taccountid as string,\n\t\taccountid_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_branch as string,\n\t\tmsfsi_branch_entitytype as string,\n\t\tpreferredsystemuserid as string,\n\t\tpreferredsystemuserid_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tparentcustomerid as string,\n\t\tparentcustomerid_entitytype as string,\n\t\taging90 as decimal(18,2),\n\t\taging30 as decimal(18,2),\n\t\taging60_base as decimal(18,2),\n\t\tcreditlimit as decimal(18,2),\n\t\tcreditlimit_base as decimal(18,2),\n\t\taging90_base as decimal(18,2),\n\t\tannualincome as decimal(18,2),\n\t\taging60 as decimal(18,2),\n\t\tannualincome_base as decimal(18,2),\n\t\taging30_base as decimal(18,2),\n\t\tcontactid as string,\n\t\temailaddress3 as string,\n\t\temailaddress2 as string,\n\t\temailaddress1 as string,\n\t\tmsfsi_branchname as string,\n\t\taddress1_city as string,\n\t\taddress3_line1 as string,\n\t\taddress1_line1 as string,\n\t\tmanagerphone as string,\n\t\tmodifiedon as timestamp,\n\t\tyomilastname as string,\n\t\tyomifirstname as string,\n\t\taddress1_longitude as decimal(18,2),\n\t\tyomifullname as string,\n\t\tcreatedbyexternalpartyname as string,\n\t\tentityimage_timestamp as long,\n\t\taddress3_line3 as string,\n\t\taddress2_county as string,\n\t\taddress2_city as string,\n\t\tentityimage_url as string,\n\t\tpreferredsystemuseridyominame as string,\n\t\ttelephone1 as string,\n\t\taccountidname as string,\n\t\taddress3_utcoffset as long,\n\t\taddress3_primarycontactname as string,\n\t\tmodifiedbyexternalpartyyominame as string,\n\t\tpreferredsystemuseridname as string,\n\t\taddress2_stateorprovince as string,\n\t\tmobilephone as string,\n\t\tparentcustomeridyominame as string,\n\t\taddress2_line2 as string,\n\t\tassistantphone as string,\n\t\taddress1_line3 as string,\n\t\tonholdtime as long,\n\t\taddress3_longitude as decimal(18,2),\n\t\towningbusinessunitname as string,\n\t\tbirthdate as timestamp,\n\t\taddress1_utcoffset as long,\n\t\tversionnumber as long,\n\t\tmodifiedbyexternalpartyname as string,\n\t\taddress1_telephone1 as string,\n\t\texchangerate as decimal(18,2),\n\t\taddress3_composite as string,\n\t\ttelephone3 as string,\n\t\tfax as string,\n\t\tnickname as string,\n\t\taddress3_line2 as string,\n\t\tchildrensnames as string,\n\t\taddress2_latitude as decimal(18,2),\n\t\tcreatedon as timestamp,\n\t\tslaname as string,\n\t\ttimespentbymeonemailandmeetings as string,\n\t\taddress1_composite as string,\n\t\tfirstname as string,\n\t\tcallback as string,\n\t\taddress2_postalcode as string,\n\t\tlastusedincampaign as timestamp,\n\t\temployeeid as string,\n\t\tprocessid as string,\n\t\towneridyominame as string,\n\t\tgovernmentid as string,\n\t\taddress2_line3 as string,\n\t\tdescription as string,\n\t\ttimezoneruleversionnumber as long,\n\t\taddress1_county as string,\n\t\tcreatedbyname as string,\n\t\tparentcontactidyominame as string,\n\t\thome2 as string,\n\t\taddress3_county as string,\n\t\tmsfsi_placeholder as string,\n\t\tpager as string,\n\t\taddress2_postofficebox as string,\n\t\taddress2_telephone1 as string,\n\t\taddress2_telephone2 as string,\n\t\taddress2_telephone3 as string,\n\t\taddress1_addressid as string,\n\t\ttraversedpath as string,\n\t\tmsfsi_joindate as timestamp,\n\t\twebsiteurl as string,\n\t\taddress2_name as string,\n\t\taddress1_country as string,\n\t\towneridtype as string,\n\t\taddress3_telephone2 as string,\n\t\tentityimageid as string,\n\t\towneridname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\toverriddencreatedon as timestamp,\n\t\taddress2_composite as string,\n\t\ttransactioncurrencyidname as string,\n\t\taddress1_stateorprovince as string,\n\t\texternaluseridentifier as string,\n\t\tcreatedonbehalfbyname as string,\n\t\tcreatedbyexternalpartyyominame as string,\n\t\tmastercontactidname as string,\n\t\tjobtitle as string,\n\t\tmanagername as string,\n\t\taddress1_telephone2 as string,\n\t\taddress1_telephone3 as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tsuffix as string,\n\t\tspousesname as string,\n\t\tslainvokedidname as string,\n\t\taddress2_country as string,\n\t\tmastercontactidyominame as string,\n\t\tassistantname as string,\n\t\tyomimiddlename as string,\n\t\taddress3_country as string,\n\t\taddress2_utcoffset as long,\n\t\tstageid as string,\n\t\taddress2_upszone as string,\n\t\taddress2_fax as string,\n\t\tmsfsi_tenureyears as decimal(18,2),\n\t\taddress2_longitude as decimal(18,2),\n\t\taddress3_latitude as decimal(18,2),\n\t\taddress1_primarycontactname as string,\n\t\tmodifiedbyyominame as string,\n\t\tlastonholdtime as timestamp,\n\t\taddress1_line2 as string,\n\t\tcompany as string,\n\t\taddress3_name as string,\n\t\taddress3_fax as string,\n\t\tsalutation as string,\n\t\taddress1_postalcode as string,\n\t\taddress3_telephone1 as string,\n\t\taddress3_upszone as string,\n\t\tutcconversiontimezonecode as long,\n\t\taddress3_postalcode as string,\n\t\taddress2_addressid as string,\n\t\taddress3_stateorprovince as string,\n\t\tanniversary as timestamp,\n\t\timportsequencenumber as long,\n\t\ttelephone2 as string,\n\t\tsubscriptionid as string,\n\t\tdepartment as string,\n\t\taddress3_city as string,\n\t\tbusiness2 as string,\n\t\tmiddlename as string,\n\t\taddress1_name as string,\n\t\taddress1_fax as string,\n\t\taddress1_latitude as decimal(18,2),\n\t\taddress3_telephone3 as string,\n\t\taddress3_postofficebox as string,\n\t\tparentcustomeridtype as string,\n\t\tparentcontactidname as string,\n\t\tmodifiedbyname as string,\n\t\tcreatedbyyominame as string,\n\t\taddress2_line1 as string,\n\t\taddress1_upszone as string,\n\t\tlastname as string,\n\t\taccountidyominame as string,\n\t\tfullname as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tftpsiteurl as string,\n\t\tnumberofchildren as long,\n\t\taddress1_postofficebox as string,\n\t\taddress2_primarycontactname as string,\n\t\tparentcustomeridname as string,\n\t\taddress3_addressid as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tentity: 'contact',\n\tformat: 'cdm',\n\tmanifestType: 'model',\n\tfolderPath: '',\n\tfileSystem: ($srcFSICDMCtn)) ~> strContactMergeCDM\nstrFSIContactCDM select(mapColumn(\n\t\tId,\n\t\tSinkCreatedOn,\n\t\tSinkModifiedOn,\n\t\tstatecode,\n\t\tstatuscode,\n\t\taddress1_addresstypecode,\n\t\tgendercode,\n\t\taddress1_shippingmethodcode,\n\t\tfamilystatuscode,\n\t\tpreferredappointmenttimecode,\n\t\tcustomersizecode,\n\t\taddress2_shippingmethodcode,\n\t\taddress2_freighttermscode,\n\t\teducationcode,\n\t\tleadsourcecode,\n\t\taddress1_freighttermscode,\n\t\tshippingmethodcode,\n\t\tpreferredcontactmethodcode,\n\t\tpaymenttermscode,\n\t\tterritorycode,\n\t\taddress3_freighttermscode,\n\t\taccountrolecode,\n\t\taddress2_addresstypecode,\n\t\tpreferredappointmentdaycode,\n\t\tcustomertypecode,\n\t\thaschildrencode,\n\t\taddress3_shippingmethodcode,\n\t\taddress3_addresstypecode,\n\t\tdonotpostalmail,\n\t\tcreditonhold,\n\t\tdonotbulkpostalmail,\n\t\tdonotbulkemail,\n\t\tdonotfax,\n\t\tisautocreate,\n\t\tdonotemail,\n\t\tfollowemail,\n\t\tparticipatesinworkflow,\n\t\tmarketingonly,\n\t\tisprivate,\n\t\tisbackofficecustomer,\n\t\tmsfsi_ismanagedbybanksystem,\n\t\tmerged,\n\t\tdonotphone,\n\t\tdonotsendmm,\n\t\towningbusinessunit,\n\t\towningbusinessunit_entitytype,\n\t\tmodifiedonbehalfby,\n\t\tmodifiedonbehalfby_entitytype,\n\t\tslaid,\n\t\tslaid_entitytype,\n\t\tparentcontactid,\n\t\tparentcontactid_entitytype,\n\t\tcreatedonbehalfby,\n\t\tcreatedonbehalfby_entitytype,\n\t\tmodifiedby,\n\t\tmodifiedby_entitytype,\n\t\towninguser,\n\t\towninguser_entitytype,\n\t\tcreatedbyexternalparty,\n\t\tcreatedbyexternalparty_entitytype,\n\t\towningteam,\n\t\towningteam_entitytype,\n\t\tslainvokedid,\n\t\tslainvokedid_entitytype,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyid_entitytype,\n\t\tmasterid,\n\t\tmasterid_entitytype,\n\t\tmodifiedbyexternalparty,\n\t\tmodifiedbyexternalparty_entitytype,\n\t\taccountid,\n\t\taccountid_entitytype,\n\t\tcreatedby,\n\t\tcreatedby_entitytype,\n\t\tmsfsi_branch,\n\t\tmsfsi_branch_entitytype,\n\t\tpreferredsystemuserid,\n\t\tpreferredsystemuserid_entitytype,\n\t\townerid,\n\t\townerid_entitytype,\n\t\tparentcustomerid,\n\t\tparentcustomerid_entitytype,\n\t\taging90,\n\t\taging30,\n\t\taging60_base,\n\t\tcreditlimit,\n\t\tcreditlimit_base,\n\t\taging90_base,\n\t\tannualincome,\n\t\taging60,\n\t\tannualincome_base,\n\t\taging30_base,\n\t\tcontactid,\n\t\temailaddress3,\n\t\temailaddress2,\n\t\temailaddress1,\n\t\tmsfsi_branchname,\n\t\taddress1_city,\n\t\taddress3_line1,\n\t\taddress1_line1,\n\t\tmanagerphone,\n\t\tmodifiedon,\n\t\tyomilastname,\n\t\tyomifirstname,\n\t\taddress1_longitude,\n\t\tyomifullname,\n\t\tcreatedbyexternalpartyname,\n\t\tentityimage_timestamp,\n\t\taddress3_line3,\n\t\taddress2_county,\n\t\taddress2_city,\n\t\tentityimage_url,\n\t\tpreferredsystemuseridyominame,\n\t\ttelephone1,\n\t\taccountidname,\n\t\taddress3_utcoffset,\n\t\taddress3_primarycontactname,\n\t\tmodifiedbyexternalpartyyominame,\n\t\tpreferredsystemuseridname,\n\t\taddress2_stateorprovince,\n\t\tmobilephone,\n\t\tparentcustomeridyominame,\n\t\taddress2_line2,\n\t\tassistantphone,\n\t\taddress1_line3,\n\t\tonholdtime,\n\t\taddress3_longitude,\n\t\towningbusinessunitname,\n\t\tbirthdate,\n\t\taddress1_utcoffset,\n\t\tversionnumber,\n\t\tmodifiedbyexternalpartyname,\n\t\taddress1_telephone1,\n\t\texchangerate,\n\t\taddress3_composite,\n\t\ttelephone3,\n\t\tfax,\n\t\tnickname,\n\t\taddress3_line2,\n\t\tchildrensnames,\n\t\taddress2_latitude,\n\t\tcreatedon,\n\t\tslaname,\n\t\ttimespentbymeonemailandmeetings,\n\t\taddress1_composite,\n\t\tfirstname,\n\t\tcallback,\n\t\taddress2_postalcode,\n\t\tlastusedincampaign,\n\t\temployeeid,\n\t\tprocessid,\n\t\towneridyominame,\n\t\tgovernmentid,\n\t\taddress2_line3,\n\t\tdescription,\n\t\ttimezoneruleversionnumber,\n\t\taddress1_county,\n\t\tcreatedbyname,\n\t\tparentcontactidyominame,\n\t\thome2,\n\t\taddress3_county,\n\t\tmsfsi_placeholder,\n\t\tpager,\n\t\taddress2_postofficebox,\n\t\taddress2_telephone1,\n\t\taddress2_telephone2,\n\t\taddress2_telephone3,\n\t\taddress1_addressid,\n\t\ttraversedpath,\n\t\tmsfsi_joindate,\n\t\twebsiteurl,\n\t\taddress2_name,\n\t\taddress1_country,\n\t\towneridtype,\n\t\taddress3_telephone2,\n\t\tentityimageid,\n\t\towneridname,\n\t\tmodifiedonbehalfbyname,\n\t\toverriddencreatedon,\n\t\taddress2_composite,\n\t\ttransactioncurrencyidname,\n\t\taddress1_stateorprovince,\n\t\texternaluseridentifier,\n\t\tcreatedonbehalfbyname,\n\t\tcreatedbyexternalpartyyominame,\n\t\tmastercontactidname,\n\t\tjobtitle,\n\t\tmanagername,\n\t\taddress1_telephone2,\n\t\taddress1_telephone3,\n\t\tcreatedonbehalfbyyominame,\n\t\tsuffix,\n\t\tspousesname,\n\t\tslainvokedidname,\n\t\taddress2_country,\n\t\tmastercontactidyominame,\n\t\tassistantname,\n\t\tyomimiddlename,\n\t\taddress3_country,\n\t\taddress2_utcoffset,\n\t\tstageid,\n\t\taddress2_upszone,\n\t\taddress2_fax,\n\t\tmsfsi_tenureyears,\n\t\taddress2_longitude,\n\t\taddress3_latitude,\n\t\taddress1_primarycontactname,\n\t\tmodifiedbyyominame,\n\t\tlastonholdtime,\n\t\taddress1_line2,\n\t\tcompany,\n\t\taddress3_name,\n\t\taddress3_fax,\n\t\tsalutation,\n\t\taddress1_postalcode,\n\t\taddress3_telephone1,\n\t\taddress3_upszone,\n\t\tutcconversiontimezonecode,\n\t\taddress3_postalcode,\n\t\taddress2_addressid,\n\t\taddress3_stateorprovince,\n\t\tanniversary,\n\t\timportsequencenumber,\n\t\ttelephone2,\n\t\tsubscriptionid,\n\t\tdepartment,\n\t\taddress3_city,\n\t\tbusiness2,\n\t\tmiddlename,\n\t\taddress1_name,\n\t\taddress1_fax,\n\t\taddress1_latitude,\n\t\taddress3_telephone3,\n\t\taddress3_postofficebox,\n\t\tparentcustomeridtype,\n\t\tparentcontactidname,\n\t\tmodifiedbyname,\n\t\tcreatedbyyominame,\n\t\taddress2_line1,\n\t\taddress1_upszone,\n\t\tlastname,\n\t\taccountidyominame,\n\t\tfullname,\n\t\tmodifiedonbehalfbyyominame,\n\t\tftpsiteurl,\n\t\tnumberofchildren,\n\t\taddress1_postofficebox,\n\t\taddress2_primarycontactname,\n\t\tparentcustomeridname,\n\t\taddress3_addressid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIContactCol\nstrFSIContactCol derive(address1_composite = replace(address1_composite, '%0D%0A', ' '),\n\t\taddress1_postalcode = toString(address1_postalcode),\n\t\taddress2_composite = replace(address2_composite, '%0D%0A', ' '),\n\t\taddress2_postalcode = toString(address2_postalcode),\n\t\taddress3_composite = replace(address3_composite, '%0D%0A', ' '),\n\t\tbirthdate = toDate(birthdate),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode),\n\t\taddress3_addresstypecode = toString(address3_addresstypecode),\n\t\taddress1_addresstypecode = toString(address1_addresstypecode),\n\t\taddress1_freighttermscode = toString(address1_freighttermscode),\n\t\taddress1_shippingmethodcode = toString(address1_shippingmethodcode),\n\t\tpaymenttermscode = toString(paymenttermscode),\n\t\tgendercode = toString(gendercode),\n\t\tpreferredappointmenttimecode = toString(preferredappointmenttimecode),\n\t\tcustomertypecode = toString(customertypecode),\n\t\tcustomersizecode = toString(customersizecode),\n\t\tpreferredcontactmethodcode = toString(preferredcontactmethodcode),\n\t\taddress2_freighttermscode = toString(address2_freighttermscode),\n\t\teducationcode = toString(educationcode),\n\t\taddress3_freighttermscode = toString(address3_freighttermscode),\n\t\taccountrolecode = toString(accountrolecode),\n\t\taddress2_shippingmethodcode = toString(address2_shippingmethodcode),\n\t\taddress2_addresstypecode = toString(address2_addresstypecode),\n\t\tterritorycode = toString(territorycode),\n\t\tpreferredappointmentdaycode = toString(preferredappointmentdaycode),\n\t\thaschildrencode = toString(haschildrencode),\n\t\tfamilystatuscode = toString(familystatuscode),\n\t\taddress3_shippingmethodcode = toString(address3_shippingmethodcode),\n\t\tleadsourcecode = toString(leadsourcecode),\n\t\tshippingmethodcode = toString(shippingmethodcode)) ~> strFSIContactTrn\nstrFSIBankCDM select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_postalcode,\n\t\tmsfsi_addressline3,\n\t\tmsfsi_bankid,\n\t\tmsfsi_country,\n\t\tmsfsi_addressline1,\n\t\tmsfsi_city,\n\t\tmsfsi_name,\n\t\tmsfsi_addressline2,\n\t\tmsfsi_telephone1,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_bankcode,\n\t\tmsfsi_stateorprovince\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIBankCol\nstrFSIBankCol derive(msfsi_postalcode = toString(msfsi_postalcode),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSIBankTrn\nstrFSIBranchCDM select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_bank,\n\t\tmsfsi_bank_entitytype,\n\t\tmsfsi_branchmanager,\n\t\tmsfsi_branchmanager_entitytype,\n\t\tmsfsi_country,\n\t\tmsfsi_branchmanageryominame,\n\t\tmsfsi_branchmanagername,\n\t\tmsfsi_stateorprovince,\n\t\tmsfsi_postalcode,\n\t\tmsfsi_name,\n\t\tmsfsi_branchid,\n\t\tmsfsi_addressline2,\n\t\tmsfsi_bankname,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_telephone1,\n\t\tmsfsi_addressline1,\n\t\tmsfsi_branchcode,\n\t\tmsfsi_addressline3\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIBranchCol\nstrFSIBranchCol derive(msfsi_branchcode = toString(msfsi_branchcode),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSIBranchTrn\nstrFSICustFinHoldCDM select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_financialholdingrole,\n\t\tmsfsi_customerid,\n\t\tmsfsi_customerid_entitytype,\n\t\tmsfsi_financialholdingid,\n\t\tmsfsi_financialholdingid_entitytype,\n\t\tmsfsi_customeridyominame,\n\t\tmsfsi_customerididtype,\n\t\tmsfsi_customeridname,\n\t\tmsfsi_name,\n\t\tmsfsi_customerfinancialholdingid,\n\t\tmsfsi_financialholdingidname\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSICustFinHoldCol\nstrFSICustFinHoldCol derive(msfsi_financialholdingrole = toString(msfsi_financialholdingrole),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSICustFinHoldTrn\nstrFSIGroupCDM select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_type,\n\t\tmsfsi_primarymember,\n\t\tmsfsi_primarymember_entitytype,\n\t\tmsfsi_groupid,\n\t\tmsfsi_primarymembername,\n\t\tmsfsi_primarymemberidtype,\n\t\tmsfsi_name,\n\t\tmsfsi_primarymemberyominame\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIGroupCol\nstrFSIGroupCol derive(msfsi_type = toString(msfsi_type),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSIGroupTrn\nstrFSIGrpFinHold select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_group,\n\t\tmsfsi_group_entitytype,\n\t\tmsfsi_financialholding,\n\t\tmsfsi_financialholding_entitytype,\n\t\tmsfsi_groupname,\n\t\tmsfsi_groupfinancialholdingid,\n\t\tmsfsi_financialholdingname,\n\t\tmsfsi_name\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIGrpFinHoldCol\nstrFSIGrpFinHoldCol derive(statecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSIGrpFinHoldTrn\nstrFSIGrpMbr select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_role,\n\t\tmsfsi_isprimarygroup,\n\t\tmsfsi_member,\n\t\tmsfsi_member_entitytype,\n\t\tmsfsi_group,\n\t\tmsfsi_group_entitytype,\n\t\tmsfsi_groupname,\n\t\tmsfsi_membername,\n\t\tmsfsi_groupmemberid,\n\t\tmsfsi_memberyominame,\n\t\tmsfsi_memberidtype,\n\t\tmsfsi_name\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIGrpMbrCol\nstrFSIGrpMbrCol derive(msfsi_role = toString(msfsi_role),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSIGrpMbrTrn\nstrFSILifMom select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_lifemomentcategory,\n\t\tmsfsi_lifemomenttype,\n\t\tmsfsi_contact,\n\t\tmsfsi_contact_entitytype,\n\t\tmsfsi_lifemomentdate,\n\t\tmsfsi_contactyominame,\n\t\tmsfsi_modifiedon,\n\t\tmsfsi_contactname,\n\t\tmsfsi_lifemomentid,\n\t\tmsfsi_name,\n\t\tmsfsi_lifemomenttitle\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSILifMomCol\nstrFSILifMomCol derive(msfsi_lifemomentcategory = toString(msfsi_lifemomentcategory),\n\t\tmsfsi_lifemomenttype = toString(msfsi_lifemomenttype),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSILifMomTrn\nstrFSIfiCard select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_cardtype,\n\t\tmsfsi_financialinstrumenttype,\n\t\tmsfsi_status,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_issuedate,\n\t\tmsfsi_cardnumber,\n\t\tmsfsi_purchasinglimit = msfsi_purchasinglimit_default,\n\t\tkey = msfsi_fi_cardid,\n\t\tmsfsi_numberofcashwithdrawal,\n\t\tmsfsi_expirydate,\n\t\tmsfsi_embossingname,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_dateoflasttransaction,\n\t\tmsfsi_activationdate,\n\t\tmsfsi_cardnetwork,\n\t\tmsfsi_withdrawallimit = msfsi_withdrawallimit_default,\n\t\tmsfsi_dateoflastcashwithdrawal,\n\t\tmsfsi_productname,\n\t\tmsfsi_numberoftransactions,\n\t\tmsfsi_name\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfiCarCol\nstrFSIfiDD select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_lastitemstatus,\n\t\tmsfsi_financialinstrumenttype,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_nextitemdate,\n\t\tmsfsi_lastitemstatusreason,\n\t\tmsfsi_creditorname,\n\t\tmsfsi_creditoridentifier,\n\t\tkey = msfsi_fi_directdebitid,\n\t\tmsfsi_mandateid,\n\t\tmsfsi_lastitemamount = msfsi_lastitemamount_default,\n\t\tmsfsi_mandateenddate,\n\t\tmsfsi_nextitemamount = msfsi_nextitemamount_default,\n\t\tmsfsi_orderenddate,\n\t\tmsfsi_mandatelimit = msfsi_mandatelimit_default,\n\t\tmsfsi_debtoraccount,\n\t\tmsfsi_standingorderamount,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_lastitemdate,\n\t\tmsfsi_mandatestartdate,\n\t\tmsfsi_name\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfiDDCol\nstrFSIfiOverD select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_financialinstrumenttype,\n\t\ttransactioncurrencyid,\n\t\tmsfsi_overdraftrate,\n\t\tmsfsi_name,\n\t\tmsfsi_overdraftlimit = msfsi_overdraftlimit_default,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_overdraftlimitused = msfsi_overdraftlimitused_default,\n\t\ttransactioncurrencyidname,\n\t\tkey = msfsi_fi_overdraftid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfiOverDCol\nstrFSIfiStdOrd select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_dayofweek,\n\t\tmsfsi_lastitemstatus,\n\t\tmsfsi_frequency,\n\t\tmsfsi_financialinstrumenttype,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_nextitemdate,\n\t\tmsfsi_nextitemamount = msfsi_nextitemamount_default,\n\t\tmsfsi_creditoraccount,\n\t\tmsfsi_lastitemstatusreason,\n\t\tmsfsi_creditorname,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_lastitemamount = msfsi_lastitemamount_default,\n\t\tmsfsi_debtoraccount,\n\t\tmsfsi_firstpaymentdate,\n\t\tmsfsi_standingorderamount,\n\t\tkey = msfsi_fi_standingorderid,\n\t\tmsfsi_dayofmonth,\n\t\tmsfsi_lastitemdate,\n\t\tmsfsi_name\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfiStdOrdCol\nstrFSIfiCarCol, strFSIfiDDCol union(byName: true)~> strFSIfiCardDD\nstrFSIfiCardDD, strFSIfiOverDCol union(byName: true)~> strFSIfiCardDDOverD\nstrFSIfiCardDDOverD, strFSIfiStdOrdCol union(byName: true)~> strFSIfiCardDDOverDStdOrd\nstrFSIfiFinHolIns select(mapColumn(\n\t\tmsfsi_details,\n\t\tmsfsi_financialholdinginstrumentid,\n\t\tmsfsi_financialholding\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfiFinHolInsCol\nstrFSIfiCardDDOverDStdOrd, strFSIfiFinHolInsCol join(key == msfsi_details,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> strFSIfiCardDDOverDStdOrdFI\nstrFSIfiCardDDOverDStdOrdFI select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_cardtype,\n\t\tmsfsi_financialinstrumenttype,\n\t\tmsfsi_status,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_issuedate,\n\t\tmsfsi_cardnumber,\n\t\tmsfsi_purchasinglimit,\n\t\tmsfsi_numberofcashwithdrawal,\n\t\tmsfsi_expirydate,\n\t\tmsfsi_embossingname,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_dateoflasttransaction,\n\t\tmsfsi_activationdate,\n\t\tmsfsi_cardnetwork,\n\t\tmsfsi_withdrawallimit,\n\t\tmsfsi_dateoflastcashwithdrawal,\n\t\tmsfsi_productname,\n\t\tmsfsi_numberoftransactions,\n\t\tmsfsi_name,\n\t\tmsfsi_lastitemstatus,\n\t\tmsfsi_nextitemdate,\n\t\tmsfsi_lastitemstatusreason,\n\t\tmsfsi_creditorname,\n\t\tmsfsi_creditoridentifier,\n\t\tmsfsi_mandateid,\n\t\tmsfsi_lastitemamount,\n\t\tmsfsi_mandateenddate,\n\t\tmsfsi_nextitemamount,\n\t\tmsfsi_orderenddate,\n\t\tmsfsi_mandatelimit,\n\t\tmsfsi_debtoraccount,\n\t\tmsfsi_standingorderamount,\n\t\tmsfsi_lastitemdate,\n\t\tmsfsi_mandatestartdate,\n\t\tmsfsi_overdraftrate,\n\t\tmsfsi_overdraftlimit,\n\t\tmsfsi_overdraftlimitused,\n\t\tmsfsi_dayofweek,\n\t\tmsfsi_frequency,\n\t\tmsfsi_creditoraccount,\n\t\tmsfsi_firstpaymentdate,\n\t\tmsfsi_dayofmonth,\n\t\tmsfsi_financialholdinginstrumentid,\n\t\tmsfsi_financialholding\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfiJoinCol\nstrFSIfiJoinCol derive(msfsi_cardtype = toString(msfsi_cardtype),\n\t\tmsfsi_creditoraccount = toString(msfsi_creditoraccount),\n\t\tmsfsi_creditoridentifier = toString(msfsi_creditoridentifier),\n\t\tmsfsi_debtoraccount = toString(msfsi_debtoraccount),\n\t\tmsfsi_financialinstrumenttype = toString(msfsi_financialinstrumenttype),\n\t\tmsfsi_frequency = toString(msfsi_frequency),\n\t\tmsfsi_lastitemstatus = toString(msfsi_lastitemstatus),\n\t\tmsfsi_status = toString(msfsi_status),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSIfiJoinTrn\nstrFSIfhAcc select(mapColumn(\n\t\tmsfsi_financialholdingcategory,\n\t\tmsfsi_financialholdingtype,\n\t\tmsfsi_delinquencystatus,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_name,\n\t\tmsfsi_unclearedbalance = msfsi_unclearedbalance_default,\n\t\tmsfsi_numberoftransactions,\n\t\tmsfsi_availablebalance = msfsi_availablebalance_default,\n\t\tmsfsi_averagebalance = msfsi_averagebalance_default,\n\t\tmsfsi_dateoflasttransaction,\n\t\tmsfsi_blockedamount = msfsi_blockedamount_default,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_balance = msfsi_balancedefault,\n\t\tmsfsi_balanceexchangerate,\n\t\tkey = msfsi_fh_accountid,\n\t\tmsfsi_balancedisplayvalue = msfsi_balancedefaultdisplayvalue,\n\t\tmsfsi_interestrate\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfhAccCol\nstrFSIfhCrdLin select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_accountingclassification,\n\t\tmsfsi_financialholdingcategory,\n\t\tmsfsi_financialholdingtype,\n\t\tmsfsi_delinquencystatus,\n\t\ttransactioncurrencyid,\n\t\tmsfsi_laststatementbalance = msfsi_laststatementbalance_default,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_name,\n\t\tmsfsi_monthlypaymentpercentage,\n\t\tmsfsi_balance = msfsi_balancedefault,\n\t\tmsfsi_nextstatementdate,\n\t\tkey = msfsi_fh_creditlineid,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_laststatementdate,\n\t\tmsfsi_balanceexchangerate,\n\t\tmsfsi_nextpaymentdate,\n\t\tmsfsi_lastpaymentduedate,\n\t\tmsfsi_minimumpaymentdue = msfsi_minimumpaymentdue_default,\n\t\tmsfsi_creditlimit = msfsi_creditlimit_default,\n\t\tmsfsi_balancedisplayvalue = msfsi_balancedefaultdisplayvalue,\n\t\tmsfsi_interestrate\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfhCrdLinCol\nstrFSIfhInv select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_financialholdingtype,\n\t\tmsfsi_investmentrisk,\n\t\tmsfsi_investmenttimeframe,\n\t\tmsfsi_accountingclassification,\n\t\tmsfsi_investmentobjectives,\n\t\tmsfsi_financialholdingcategory,\n\t\ttransactioncurrencyid,\n\t\tmsfsi_performanceytd,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_cashbalance = msfsi_cashbalance_default,\n\t\tmsfsi_gainloss = msfsi_gainloss_default,\n\t\tmsfsi_name,\n\t\tmsfsi_balance = msfsi_balancedefault,\n\t\tmsfsi_performance3y,\n\t\tmsfsi_openeddate,\n\t\tmsfsi_performance1y,\n\t\tmsfsi_integrationkey,\n\t\tkey = msfsi_fh_investmentid,\n\t\tmsfsi_balanceexchangerate,\n\t\tmsfsi_portfolioname,\n\t\tmsfsi_balancedisplayvalue = msfsi_balancedefaultdisplayvalue\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfhInvCol\nstrFSIfhLoa select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_modeofpayment,\n\t\tmsfsi_collectionrisk,\n\t\tmsfsi_interesttype,\n\t\tmsfsi_financialholdingtype,\n\t\tmsfsi_accountingclassification,\n\t\tmsfsi_financialholdingcategory,\n\t\tmsfsi_delinquencystatus,\n\t\ttransactioncurrencyid,\n\t\tmsfsi_balance = msfsi_balancedefault,\n\t\tmsfsi_dayspastdue,\n\t\tmsfsi_numberofdeferralsmade,\n\t\tmsfsi_interestreviewperiod,\n\t\tmsfsi_totalarrear = msfsi_totalarrear_default,\n\t\tmsfsi_feearrears = msfsi_feearrears_default,\n\t\tmsfsi_numberofinstallmentspaid,\n\t\tmsfsi_capitalarrears = msfsi_capitalarrears_default,\n\t\tmsfsi_nextinterestreviewdate,\n\t\tmsfsi_principalamount = msfsi_principalamount_default,\n\t\tmsfsi_disbursedamount = msfsi_disbursedamount_default,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_interestarrears = msfsi_interestarrears_default,\n\t\tmsfsi_loanstartdate,\n\t\tmsfsi_totalinterestpaid = msfsi_totalinterestpaid_default,\n\t\tmsfsi_balancedisplayvalue = msfsi_balancedefaultdisplayvalue,\n\t\tmsfsi_disbursementdate,\n\t\tmsfsi_interestrate,\n\t\tmsfsi_maturitydate,\n\t\tmsfsi_name,\n\t\tmsfsi_lastpaymentdate,\n\t\tmsfsi_installmentamount = msfsi_installmentamount_default,\n\t\tmsfsi_balanceexchangerate,\n\t\tkey = msfsi_fh_loanid,\n\t\tmsfsi_nextpaymentdate,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_repaymentaccount,\n\t\tmsfsi_nextpaymentamount = msfsi_nextpaymentamount_default,\n\t\tmsfsi_overduedate,\n\t\tmsfsi_lastpaymentamount = msfsi_lastpaymentamount_default\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfhLoaCol\nstrFSIfhSav select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_financialholdingtype,\n\t\tmsfsi_accountingclassification,\n\t\tmsfsi_financialholdingcategory,\n\t\ttransactioncurrencyid,\n\t\tmsfsi_interestrate,\n\t\tmsfsi_accruedinterest = msfsi_accruedinterest_default,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_initialsource,\n\t\tmsfsi_name,\n\t\tkey = msfsi_fh_savingid,\n\t\tmsfsi_balanceatmaturity = msfsi_balanceatmaturity_default,\n\t\tmsfsi_blockedamount = msfsi_blockedamount_default,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_balance = msfsi_balancedefault,\n\t\tmsfsi_maturityinstructionsdetails,\n\t\tmsfsi_balanceexchangerate,\n\t\tmsfsi_projectedinterestamount = msfsi_projectedinterestamount_default,\n\t\tmsfsi_term,\n\t\tmsfsi_maturitydate,\n\t\tmsfsi_balancedefaultvalue = msfsi_balancedefaultdisplayvalue\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfhSavCol\nstrFSIfhAccCol, strFSIfhCrdLinCol union(byName: true)~> strFSIfhAccCrdLin\nstrFSIfhAccCrdLin, strFSIfhInvCol union(byName: true)~> strFSIfhAccCrdLinInv\nstrFSIfhAccCrdLinInv, strFSIfhLoaCol union(byName: true)~> strFSIfhAccCrdLinInvLoa\nstrFSIfhAccCrdLinInvLoa, strFSIfhSavCol union(byName: true)~> strFSIfhAccCrdLinInvLoaSav\nstrFSIfhFinHol select(mapColumn(\n\t\tmsfsi_details,\n\t\tmsfsi_financialholdingid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfhFinHolCol\nstrFSIfhAccCrdLinInvLoaSav, strFSIfhFinHolCol join(key == msfsi_details,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> strFSIfhAccCrdLinInvLoaSavFI\nstrFSIfhAccCrdLinInvLoaSavFI select(mapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_accountingclassification,\n\t\tmsfsi_interesttype,\n\t\tmsfsi_financialholdingcategory,\n\t\tmsfsi_financialholdingtype,\n\t\tmsfsi_delinquencystatus,\n\t\ttransactioncurrencyid,\n\t\tmsfsi_balancedisplayvalue,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_name,\n\t\tmsfsi_unclearedbalance,\n\t\tmsfsi_numberoftransactions,\n\t\tmsfsi_availablebalance,\n\t\tmsfsi_averagebalance,\n\t\tmsfsi_dateoflasttransaction,\n\t\tmsfsi_blockedamount,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_balance,\n\t\tmsfsi_balanceexchangerate,\n\t\tmsfsi_interestrate,\n\t\tmsfsi_laststatementbalance,\n\t\tmsfsi_monthlypaymentpercentage,\n\t\tmsfsi_nextstatementdate,\n\t\tmsfsi_laststatementdate,\n\t\tmsfsi_nextpaymentdate,\n\t\tmsfsi_lastpaymentduedate,\n\t\tmsfsi_minimumpaymentdue,\n\t\tmsfsi_creditlimit,\n\t\tmsfsi_investmentrisk,\n\t\tmsfsi_investmenttimeframe,\n\t\tmsfsi_investmentobjectives,\n\t\tmsfsi_performanceytd,\n\t\tmsfsi_cashbalance,\n\t\tmsfsi_gainloss,\n\t\tmsfsi_performance3y,\n\t\tmsfsi_openeddate,\n\t\tmsfsi_performance1y,\n\t\tmsfsi_portfolioname,\n\t\tmsfsi_modeofpayment,\n\t\tmsfsi_collectionrisk,\n\t\tmsfsi_dayspastdue,\n\t\tmsfsi_numberofdeferralsmade,\n\t\tmsfsi_interestreviewperiod,\n\t\tmsfsi_totalarrear,\n\t\tmsfsi_feearrears,\n\t\tmsfsi_numberofinstallmentspaid,\n\t\tmsfsi_capitalarrears,\n\t\tmsfsi_nextinterestreviewdate,\n\t\tmsfsi_principalamount,\n\t\tmsfsi_disbursedamount,\n\t\tmsfsi_interestarrears,\n\t\tmsfsi_loanstartdate,\n\t\tmsfsi_totalinterestpaid,\n\t\tmsfsi_disbursementdate,\n\t\tmsfsi_maturitydate,\n\t\tmsfsi_lastpaymentdate,\n\t\tmsfsi_installmentamount,\n\t\tmsfsi_repaymentaccount,\n\t\tmsfsi_nextpaymentamount,\n\t\tmsfsi_overduedate,\n\t\tmsfsi_lastpaymentamount,\n\t\tmsfsi_accruedinterest,\n\t\tmsfsi_initialsource,\n\t\tmsfsi_balanceatmaturity,\n\t\tmsfsi_maturityinstructionsdetails,\n\t\tmsfsi_projectedinterestamount,\n\t\tmsfsi_term,\n\t\tmsfsi_financialholdingid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strFSIfhJoinCol\nstrFSIfhJoinCol derive(msfsi_collectionrisk = toString(msfsi_collectionrisk),\n\t\tmsfsi_financialholdingcategory = toString(msfsi_financialholdingcategory),\n\t\tmsfsi_financialholdingtype = toString(msfsi_financialholdingtype),\n\t\tmsfsi_modeofpayment = toString(msfsi_modeofpayment),\n\t\tstatecode = toString(statecode),\n\t\tstatuscode = toString(statuscode)) ~> strFSIfhJoinColTrn\nstrContactMergeCDM select(mapColumn(\n\t\tcontactid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> strContactMergeCol\nstrFSIContactTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\taddress1_addresstypecode as string,\n\t\tgendercode as string,\n\t\taddress1_shippingmethodcode as string,\n\t\tfamilystatuscode as string,\n\t\tpreferredappointmenttimecode as string,\n\t\tcustomersizecode as string,\n\t\taddress2_shippingmethodcode as string,\n\t\taddress2_freighttermscode as string,\n\t\teducationcode as string,\n\t\tleadsourcecode as string,\n\t\taddress1_freighttermscode as string,\n\t\tshippingmethodcode as string,\n\t\tpreferredcontactmethodcode as string,\n\t\tpaymenttermscode as string,\n\t\tterritorycode as string,\n\t\taddress3_freighttermscode as string,\n\t\taccountrolecode as string,\n\t\taddress2_addresstypecode as string,\n\t\tpreferredappointmentdaycode as string,\n\t\tcustomertypecode as string,\n\t\thaschildrencode as string,\n\t\taddress3_shippingmethodcode as string,\n\t\taddress3_addresstypecode as string,\n\t\tdonotpostalmail as boolean,\n\t\tcreditonhold as boolean,\n\t\tdonotbulkpostalmail as boolean,\n\t\tdonotbulkemail as boolean,\n\t\tdonotfax as boolean,\n\t\tisautocreate as boolean,\n\t\tdonotemail as boolean,\n\t\tfollowemail as boolean,\n\t\tparticipatesinworkflow as boolean,\n\t\tmarketingonly as boolean,\n\t\tisprivate as boolean,\n\t\tisbackofficecustomer as boolean,\n\t\tmsfsi_ismanagedbybanksystem as boolean,\n\t\tmerged as boolean,\n\t\tdonotphone as boolean,\n\t\tdonotsendmm as boolean,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tslaid as string,\n\t\tslaid_entitytype as string,\n\t\tparentcontactid as string,\n\t\tparentcontactid_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tcreatedbyexternalparty as string,\n\t\tcreatedbyexternalparty_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tslainvokedid as string,\n\t\tslainvokedid_entitytype as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyid_entitytype as string,\n\t\tmasterid as string,\n\t\tmasterid_entitytype as string,\n\t\tmodifiedbyexternalparty as string,\n\t\tmodifiedbyexternalparty_entitytype as string,\n\t\taccountid as string,\n\t\taccountid_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsfsi_branch as string,\n\t\tmsfsi_branch_entitytype as string,\n\t\tpreferredsystemuserid as string,\n\t\tpreferredsystemuserid_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tparentcustomerid as string,\n\t\tparentcustomerid_entitytype as string,\n\t\taging90 as decimal(18,2),\n\t\taging30 as decimal(18,2),\n\t\taging60_base as decimal(18,2),\n\t\tcreditlimit as decimal(18,2),\n\t\tcreditlimit_base as decimal(18,2),\n\t\taging90_base as decimal(18,2),\n\t\tannualincome as decimal(18,2),\n\t\taging60 as decimal(18,2),\n\t\tannualincome_base as decimal(18,2),\n\t\taging30_base as decimal(18,2),\n\t\tcontactid as string,\n\t\temailaddress3 as string,\n\t\temailaddress2 as string,\n\t\temailaddress1 as string,\n\t\tmsfsi_branchname as string,\n\t\taddress1_city as string,\n\t\taddress3_line1 as string,\n\t\taddress1_line1 as string,\n\t\tmanagerphone as string,\n\t\tmodifiedon as timestamp,\n\t\tyomilastname as string,\n\t\tyomifirstname as string,\n\t\taddress1_longitude as decimal(18,2),\n\t\tyomifullname as string,\n\t\tcreatedbyexternalpartyname as string,\n\t\tentityimage_timestamp as long,\n\t\taddress3_line3 as string,\n\t\taddress2_county as string,\n\t\taddress2_city as string,\n\t\tentityimage_url as string,\n\t\tpreferredsystemuseridyominame as string,\n\t\ttelephone1 as string,\n\t\taccountidname as string,\n\t\taddress3_utcoffset as long,\n\t\taddress3_primarycontactname as string,\n\t\tmodifiedbyexternalpartyyominame as string,\n\t\tpreferredsystemuseridname as string,\n\t\taddress2_stateorprovince as string,\n\t\tmobilephone as string,\n\t\tparentcustomeridyominame as string,\n\t\taddress2_line2 as string,\n\t\tassistantphone as string,\n\t\taddress1_line3 as string,\n\t\tonholdtime as long,\n\t\taddress3_longitude as decimal(18,2),\n\t\towningbusinessunitname as string,\n\t\tbirthdate as timestamp,\n\t\taddress1_utcoffset as long,\n\t\tversionnumber as long,\n\t\tmodifiedbyexternalpartyname as string,\n\t\taddress1_telephone1 as string,\n\t\texchangerate as decimal(18,2),\n\t\taddress3_composite as string,\n\t\ttelephone3 as string,\n\t\tfax as string,\n\t\tnickname as string,\n\t\taddress3_line2 as string,\n\t\tchildrensnames as string,\n\t\taddress2_latitude as decimal(18,2),\n\t\tcreatedon as timestamp,\n\t\tslaname as string,\n\t\ttimespentbymeonemailandmeetings as string,\n\t\taddress1_composite as string,\n\t\tfirstname as string,\n\t\tcallback as string,\n\t\taddress2_postalcode as string,\n\t\tlastusedincampaign as timestamp,\n\t\temployeeid as string,\n\t\tprocessid as string,\n\t\towneridyominame as string,\n\t\tgovernmentid as string,\n\t\taddress2_line3 as string,\n\t\tdescription as string,\n\t\ttimezoneruleversionnumber as long,\n\t\taddress1_county as string,\n\t\tcreatedbyname as string,\n\t\tparentcontactidyominame as string,\n\t\thome2 as string,\n\t\taddress3_county as string,\n\t\tmsfsi_placeholder as string,\n\t\tpager as string,\n\t\taddress2_postofficebox as string,\n\t\taddress2_telephone1 as string,\n\t\taddress2_telephone2 as string,\n\t\taddress2_telephone3 as string,\n\t\taddress1_addressid as string,\n\t\ttraversedpath as string,\n\t\tmsfsi_joindate as timestamp,\n\t\twebsiteurl as string,\n\t\taddress2_name as string,\n\t\taddress1_country as string,\n\t\towneridtype as string,\n\t\taddress3_telephone2 as string,\n\t\tentityimageid as string,\n\t\towneridname as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\toverriddencreatedon as timestamp,\n\t\taddress2_composite as string,\n\t\ttransactioncurrencyidname as string,\n\t\taddress1_stateorprovince as string,\n\t\texternaluseridentifier as string,\n\t\tcreatedonbehalfbyname as string,\n\t\tcreatedbyexternalpartyyominame as string,\n\t\tmastercontactidname as string,\n\t\tjobtitle as string,\n\t\tmanagername as string,\n\t\taddress1_telephone2 as string,\n\t\taddress1_telephone3 as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tsuffix as string,\n\t\tspousesname as string,\n\t\tslainvokedidname as string,\n\t\taddress2_country as string,\n\t\tmastercontactidyominame as string,\n\t\tassistantname as string,\n\t\tyomimiddlename as string,\n\t\taddress3_country as string,\n\t\taddress2_utcoffset as long,\n\t\tstageid as string,\n\t\taddress2_upszone as string,\n\t\taddress2_fax as string,\n\t\tmsfsi_tenureyears as decimal(18,2),\n\t\taddress2_longitude as decimal(18,2),\n\t\taddress3_latitude as decimal(18,2),\n\t\taddress1_primarycontactname as string,\n\t\tmodifiedbyyominame as string,\n\t\tlastonholdtime as timestamp,\n\t\taddress1_line2 as string,\n\t\tcompany as string,\n\t\taddress3_name as string,\n\t\taddress3_fax as string,\n\t\tsalutation as string,\n\t\taddress1_postalcode as string,\n\t\taddress3_telephone1 as string,\n\t\taddress3_upszone as string,\n\t\tutcconversiontimezonecode as long,\n\t\taddress3_postalcode as string,\n\t\taddress2_addressid as string,\n\t\taddress3_stateorprovince as string,\n\t\tanniversary as timestamp,\n\t\timportsequencenumber as long,\n\t\ttelephone2 as string,\n\t\tsubscriptionid as string,\n\t\tdepartment as string,\n\t\taddress3_city as string,\n\t\tbusiness2 as string,\n\t\tmiddlename as string,\n\t\taddress1_name as string,\n\t\taddress1_fax as string,\n\t\taddress1_latitude as decimal(18,2),\n\t\taddress3_telephone3 as string,\n\t\taddress3_postofficebox as string,\n\t\tparentcustomeridtype as string,\n\t\tparentcontactidname as string,\n\t\tmodifiedbyname as string,\n\t\tcreatedbyyominame as string,\n\t\taddress2_line1 as string,\n\t\taddress1_upszone as string,\n\t\tlastname as string,\n\t\taccountidyominame as string,\n\t\tfullname as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tftpsiteurl as string,\n\t\tnumberofchildren as long,\n\t\taddress1_postofficebox as string,\n\t\taddress2_primarycontactname as string,\n\t\tparentcustomeridname as string,\n\t\taddress3_addressid as string\n\t),\n\tentity: '/resolved/contact.cdm.json/contact',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tId,\n\t\tSinkCreatedOn,\n\t\tSinkModifiedOn,\n\t\tstatecode,\n\t\tstatuscode,\n\t\taddress1_addresstypecode,\n\t\tgendercode,\n\t\taddress1_shippingmethodcode,\n\t\tfamilystatuscode,\n\t\tpreferredappointmenttimecode,\n\t\tcustomersizecode,\n\t\taddress2_shippingmethodcode,\n\t\taddress2_freighttermscode,\n\t\teducationcode,\n\t\tleadsourcecode,\n\t\taddress1_freighttermscode,\n\t\tshippingmethodcode,\n\t\tpreferredcontactmethodcode,\n\t\tpaymenttermscode,\n\t\tterritorycode,\n\t\taddress3_freighttermscode,\n\t\taccountrolecode,\n\t\taddress2_addresstypecode,\n\t\tpreferredappointmentdaycode,\n\t\tcustomertypecode,\n\t\thaschildrencode,\n\t\taddress3_shippingmethodcode,\n\t\taddress3_addresstypecode,\n\t\tdonotpostalmail,\n\t\tcreditonhold,\n\t\tdonotbulkpostalmail,\n\t\tdonotbulkemail,\n\t\tdonotfax,\n\t\tisautocreate,\n\t\tdonotemail,\n\t\tfollowemail,\n\t\tparticipatesinworkflow,\n\t\tmarketingonly,\n\t\tisprivate,\n\t\tisbackofficecustomer,\n\t\tmsfsi_ismanagedbybanksystem,\n\t\tmerged,\n\t\tdonotphone,\n\t\tdonotsendmm,\n\t\towningbusinessunit,\n\t\towningbusinessunit_entitytype,\n\t\tmodifiedonbehalfby,\n\t\tmodifiedonbehalfby_entitytype,\n\t\tslaid,\n\t\tslaid_entitytype,\n\t\tparentcontactid,\n\t\tparentcontactid_entitytype,\n\t\tcreatedonbehalfby,\n\t\tcreatedonbehalfby_entitytype,\n\t\tmodifiedby,\n\t\tmodifiedby_entitytype,\n\t\towninguser,\n\t\towninguser_entitytype,\n\t\tcreatedbyexternalparty,\n\t\tcreatedbyexternalparty_entitytype,\n\t\towningteam,\n\t\towningteam_entitytype,\n\t\tslainvokedid,\n\t\tslainvokedid_entitytype,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyid_entitytype,\n\t\tmasterid,\n\t\tmasterid_entitytype,\n\t\tmodifiedbyexternalparty,\n\t\tmodifiedbyexternalparty_entitytype,\n\t\taccountid,\n\t\taccountid_entitytype,\n\t\tcreatedby,\n\t\tcreatedby_entitytype,\n\t\tmsfsi_branch,\n\t\tmsfsi_branch_entitytype,\n\t\tpreferredsystemuserid,\n\t\tpreferredsystemuserid_entitytype,\n\t\townerid,\n\t\townerid_entitytype,\n\t\tparentcustomerid,\n\t\tparentcustomerid_entitytype,\n\t\taging90,\n\t\taging30,\n\t\taging60_base,\n\t\tcreditlimit,\n\t\tcreditlimit_base,\n\t\taging90_base,\n\t\tannualincome,\n\t\taging60,\n\t\tannualincome_base,\n\t\taging30_base,\n\t\tcontactid,\n\t\temailaddress3,\n\t\temailaddress2,\n\t\temailaddress1,\n\t\tmsfsi_branchname,\n\t\taddress1_city,\n\t\taddress3_line1,\n\t\taddress1_line1,\n\t\tmanagerphone,\n\t\tmodifiedon,\n\t\tyomilastname,\n\t\tyomifirstname,\n\t\taddress1_longitude,\n\t\tyomifullname,\n\t\tcreatedbyexternalpartyname,\n\t\tentityimage_timestamp,\n\t\taddress3_line3,\n\t\taddress2_county,\n\t\taddress2_city,\n\t\tentityimage_url,\n\t\tpreferredsystemuseridyominame,\n\t\ttelephone1,\n\t\taccountidname,\n\t\taddress3_utcoffset,\n\t\taddress3_primarycontactname,\n\t\tmodifiedbyexternalpartyyominame,\n\t\tpreferredsystemuseridname,\n\t\taddress2_stateorprovince,\n\t\tmobilephone,\n\t\tparentcustomeridyominame,\n\t\taddress2_line2,\n\t\tassistantphone,\n\t\taddress1_line3,\n\t\tonholdtime,\n\t\taddress3_longitude,\n\t\towningbusinessunitname,\n\t\tbirthdate,\n\t\taddress1_utcoffset,\n\t\tversionnumber,\n\t\tmodifiedbyexternalpartyname,\n\t\taddress1_telephone1,\n\t\texchangerate,\n\t\taddress3_composite,\n\t\ttelephone3,\n\t\tfax,\n\t\tnickname,\n\t\taddress3_line2,\n\t\tchildrensnames,\n\t\taddress2_latitude,\n\t\tcreatedon,\n\t\tslaname,\n\t\ttimespentbymeonemailandmeetings,\n\t\taddress1_composite,\n\t\tfirstname,\n\t\tcallback,\n\t\taddress2_postalcode,\n\t\tlastusedincampaign,\n\t\temployeeid,\n\t\tprocessid,\n\t\towneridyominame,\n\t\tgovernmentid,\n\t\taddress2_line3,\n\t\tdescription,\n\t\ttimezoneruleversionnumber,\n\t\taddress1_county,\n\t\tcreatedbyname,\n\t\tparentcontactidyominame,\n\t\thome2,\n\t\taddress3_county,\n\t\tmsfsi_placeholder,\n\t\tpager,\n\t\taddress2_postofficebox,\n\t\taddress2_telephone1,\n\t\taddress2_telephone2,\n\t\taddress2_telephone3,\n\t\taddress1_addressid,\n\t\ttraversedpath,\n\t\tmsfsi_joindate,\n\t\twebsiteurl,\n\t\taddress2_name,\n\t\taddress1_country,\n\t\towneridtype,\n\t\taddress3_telephone2,\n\t\tentityimageid,\n\t\towneridname,\n\t\tmodifiedonbehalfbyname,\n\t\toverriddencreatedon,\n\t\taddress2_composite,\n\t\ttransactioncurrencyidname,\n\t\taddress1_stateorprovince,\n\t\texternaluseridentifier,\n\t\tcreatedonbehalfbyname,\n\t\tcreatedbyexternalpartyyominame,\n\t\tmastercontactidname,\n\t\tjobtitle,\n\t\tmanagername,\n\t\taddress1_telephone2,\n\t\taddress1_telephone3,\n\t\tcreatedonbehalfbyyominame,\n\t\tsuffix,\n\t\tspousesname,\n\t\tslainvokedidname,\n\t\taddress2_country,\n\t\tmastercontactidyominame,\n\t\tassistantname,\n\t\tyomimiddlename,\n\t\taddress3_country,\n\t\taddress2_utcoffset,\n\t\tstageid,\n\t\taddress2_upszone,\n\t\taddress2_fax,\n\t\tmsfsi_tenureyears,\n\t\taddress2_longitude,\n\t\taddress3_latitude,\n\t\taddress1_primarycontactname,\n\t\tmodifiedbyyominame,\n\t\tlastonholdtime,\n\t\taddress1_line2,\n\t\tcompany,\n\t\taddress3_name,\n\t\taddress3_fax,\n\t\tsalutation,\n\t\taddress1_postalcode,\n\t\taddress3_telephone1,\n\t\taddress3_upszone,\n\t\tutcconversiontimezonecode,\n\t\taddress3_postalcode,\n\t\taddress2_addressid,\n\t\taddress3_stateorprovince,\n\t\tanniversary,\n\t\timportsequencenumber,\n\t\ttelephone2,\n\t\tsubscriptionid,\n\t\tdepartment,\n\t\taddress3_city,\n\t\tbusiness2,\n\t\tmiddlename,\n\t\taddress1_name,\n\t\taddress1_fax,\n\t\taddress1_latitude,\n\t\taddress3_telephone3,\n\t\taddress3_postofficebox,\n\t\tparentcustomeridtype,\n\t\tparentcontactidname,\n\t\tmodifiedbyname,\n\t\tcreatedbyyominame,\n\t\taddress2_line1,\n\t\taddress1_upszone,\n\t\tlastname,\n\t\taccountidyominame,\n\t\tfullname,\n\t\tmodifiedonbehalfbyyominame,\n\t\tftpsiteurl,\n\t\tnumberofchildren,\n\t\taddress1_postofficebox,\n\t\taddress2_primarycontactname,\n\t\tparentcustomeridname,\n\t\taddress3_addressid\n\t),\n\tpartitionBy('roundRobin', 2)) ~> strCIContactCDM\nstrFSIBankTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_postalcode as string,\n\t\tmsfsi_addressline3 as string,\n\t\tmsfsi_bankid as string,\n\t\tmsfsi_country as string,\n\t\tmsfsi_addressline1 as string,\n\t\tmsfsi_city as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_addressline2 as string,\n\t\tmsfsi_telephone1 as string,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_bankcode as string,\n\t\tmsfsi_stateorprovince as string\n\t),\n\tentity: '/resolved/msfsi_bank.cdm.json/msfsi_bank',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_postalcode,\n\t\tmsfsi_addressline3,\n\t\tmsfsi_bankid,\n\t\tmsfsi_country,\n\t\tmsfsi_addressline1,\n\t\tmsfsi_city,\n\t\tmsfsi_name,\n\t\tmsfsi_addressline2,\n\t\tmsfsi_telephone1,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_bankcode,\n\t\tmsfsi_stateorprovince\n\t)) ~> strCIBankCDM\nstrFSIBranchTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_bank as string,\n\t\tmsfsi_bank_entitytype as string,\n\t\tmsfsi_branchmanager as string,\n\t\tmsfsi_branchmanager_entitytype as string,\n\t\tmsfsi_country as string,\n\t\tmsfsi_branchmanageryominame as string,\n\t\tmsfsi_branchmanagername as string,\n\t\tmsfsi_stateorprovince as string,\n\t\tmsfsi_postalcode as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_branchid as string,\n\t\tmsfsi_addressline2 as string,\n\t\tmsfsi_bankname as string,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_telephone1 as string,\n\t\tmsfsi_addressline1 as string,\n\t\tmsfsi_branchcode as string,\n\t\tmsfsi_addressline3 as string\n\t),\n\tentity: '/resolved/msfsi_branch.cdm.json/msfsi_branch',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_bank,\n\t\tmsfsi_bank_entitytype,\n\t\tmsfsi_branchmanager,\n\t\tmsfsi_branchmanager_entitytype,\n\t\tmsfsi_country,\n\t\tmsfsi_branchmanageryominame,\n\t\tmsfsi_branchmanagername,\n\t\tmsfsi_stateorprovince,\n\t\tmsfsi_postalcode,\n\t\tmsfsi_name,\n\t\tmsfsi_branchid,\n\t\tmsfsi_addressline2,\n\t\tmsfsi_bankname,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_telephone1,\n\t\tmsfsi_addressline1,\n\t\tmsfsi_branchcode,\n\t\tmsfsi_addressline3\n\t)) ~> strCIBranchCDM\nstrFSICustFinHoldTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_financialholdingrole as string,\n\t\tmsfsi_customerid as string,\n\t\tmsfsi_customerid_entitytype as string,\n\t\tmsfsi_financialholdingid as string,\n\t\tmsfsi_financialholdingid_entitytype as string,\n\t\tmsfsi_customeridyominame as string,\n\t\tmsfsi_customerididtype as string,\n\t\tmsfsi_customeridname as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_customerfinancialholdingid as string,\n\t\tmsfsi_financialholdingidname as string\n\t),\n\tentity: '/resolved/msfsi_customerfinancialholding.cdm.json/msfsi_customerfinancialholding',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_financialholdingrole,\n\t\tmsfsi_customerid,\n\t\tmsfsi_customerid_entitytype,\n\t\tmsfsi_financialholdingid,\n\t\tmsfsi_financialholdingid_entitytype,\n\t\tmsfsi_customeridyominame,\n\t\tmsfsi_customerididtype,\n\t\tmsfsi_customeridname,\n\t\tmsfsi_name,\n\t\tmsfsi_customerfinancialholdingid,\n\t\tmsfsi_financialholdingidname\n\t),\n\tpartitionBy('roundRobin', 2)) ~> strCICustFinHoldCDM\nstrFSIGroupTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_type as string,\n\t\tmsfsi_primarymember as string,\n\t\tmsfsi_primarymember_entitytype as string,\n\t\tmsfsi_groupid as string,\n\t\tmsfsi_primarymembername as string,\n\t\tmsfsi_primarymemberidtype as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_primarymemberyominame as string\n\t),\n\tentity: '/resolved/msfsi_group.cdm.json/msfsi_group',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_type,\n\t\tmsfsi_primarymember,\n\t\tmsfsi_primarymember_entitytype,\n\t\tmsfsi_groupid,\n\t\tmsfsi_primarymembername,\n\t\tmsfsi_primarymemberidtype,\n\t\tmsfsi_name,\n\t\tmsfsi_primarymemberyominame\n\t)) ~> strCIGroupCDM\nstrFSIGrpFinHoldTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_group as string,\n\t\tmsfsi_group_entitytype as string,\n\t\tmsfsi_financialholding as string,\n\t\tmsfsi_financialholding_entitytype as string,\n\t\tmsfsi_groupname as string,\n\t\tmsfsi_groupfinancialholdingid as string,\n\t\tmsfsi_financialholdingname as string,\n\t\tmsfsi_name as string\n\t),\n\tentity: '/resolved/msfsi_groupfinancialholding.cdm.json/msfsi_groupfinancialholding',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_group,\n\t\tmsfsi_group_entitytype,\n\t\tmsfsi_financialholding,\n\t\tmsfsi_financialholding_entitytype,\n\t\tmsfsi_groupname,\n\t\tmsfsi_groupfinancialholdingid,\n\t\tmsfsi_financialholdingname,\n\t\tmsfsi_name\n\t)) ~> strCIGrpFinHoldCDM\nstrFSIGrpMbrTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_role as string,\n\t\tmsfsi_isprimarygroup as boolean,\n\t\tmsfsi_member as string,\n\t\tmsfsi_member_entitytype as string,\n\t\tmsfsi_group as string,\n\t\tmsfsi_group_entitytype as string,\n\t\tmsfsi_groupname as string,\n\t\tmsfsi_membername as string,\n\t\tmsfsi_groupmemberid as string,\n\t\tmsfsi_memberyominame as string,\n\t\tmsfsi_memberidtype as string,\n\t\tmsfsi_name as string\n\t),\n\tentity: '/resolved/msfsi_groupmember.cdm.json/msfsi_groupmember',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_role,\n\t\tmsfsi_isprimarygroup,\n\t\tmsfsi_member,\n\t\tmsfsi_member_entitytype,\n\t\tmsfsi_group,\n\t\tmsfsi_group_entitytype,\n\t\tmsfsi_groupname,\n\t\tmsfsi_membername,\n\t\tmsfsi_groupmemberid,\n\t\tmsfsi_memberyominame,\n\t\tmsfsi_memberidtype,\n\t\tmsfsi_name\n\t)) ~> strCIGrpMbrCDM\nstrFSILifMomTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_lifemomentcategory as string,\n\t\tmsfsi_lifemomenttype as string,\n\t\tmsfsi_contact as string,\n\t\tmsfsi_contact_entitytype as string,\n\t\tmsfsi_lifemomentdate as timestamp,\n\t\tmsfsi_contactyominame as string,\n\t\tmsfsi_modifiedon as timestamp,\n\t\tmsfsi_contactname as string,\n\t\tmsfsi_lifemomentid as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_lifemomenttitle as string\n\t),\n\tentity: '/resolved/msfsi_lifemoment.cdm.json/msfsi_lifemoment',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_lifemomentcategory,\n\t\tmsfsi_lifemomenttype,\n\t\tmsfsi_contact,\n\t\tmsfsi_contact_entitytype,\n\t\tmsfsi_lifemomentdate,\n\t\tmsfsi_contactyominame,\n\t\tmsfsi_modifiedon,\n\t\tmsfsi_contactname,\n\t\tmsfsi_lifemomentid,\n\t\tmsfsi_name,\n\t\tmsfsi_lifemomenttitle\n\t)) ~> strCILifMomCDM\nstrFSIfiJoinTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_cardtype as string,\n\t\tmsfsi_financialinstrumenttype as string,\n\t\tmsfsi_status as string,\n\t\ttransactioncurrencyid as string,\n\t\ttransactioncurrencyidname as string,\n\t\tmsfsi_issuedate as timestamp,\n\t\tmsfsi_cardnumber as string,\n\t\tmsfsi_purchasinglimit as decimal(18,2),\n\t\tmsfsi_numberofcashwithdrawal as long,\n\t\tmsfsi_expirydate as timestamp,\n\t\tmsfsi_embossingname as string,\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_dateoflasttransaction as timestamp,\n\t\tmsfsi_activationdate as timestamp,\n\t\tmsfsi_cardnetwork as string,\n\t\tmsfsi_withdrawallimit as decimal(18,2),\n\t\tmsfsi_dateoflastcashwithdrawal as timestamp,\n\t\tmsfsi_productname as string,\n\t\tmsfsi_numberoftransactions as long,\n\t\tmsfsi_name as string,\n\t\tmsfsi_lastitemstatus as string,\n\t\tmsfsi_nextitemdate as timestamp,\n\t\tmsfsi_lastitemstatusreason as string,\n\t\tmsfsi_creditorname as string,\n\t\tmsfsi_creditoridentifier as string,\n\t\tmsfsi_mandateid as string,\n\t\tmsfsi_lastitemamount as decimal(18,2),\n\t\tmsfsi_mandateenddate as timestamp,\n\t\tmsfsi_nextitemamount as decimal(18,2),\n\t\tmsfsi_orderenddate as timestamp,\n\t\tmsfsi_mandatelimit as decimal(18,2),\n\t\tmsfsi_debtoraccount as string,\n\t\tmsfsi_standingorderamount as decimal(18,2),\n\t\tmsfsi_lastitemdate as timestamp,\n\t\tmsfsi_mandatestartdate as timestamp,\n\t\tmsfsi_overdraftrate as decimal(18,2),\n\t\tmsfsi_overdraftlimit as decimal(18,2),\n\t\tmsfsi_overdraftlimitused as decimal(18,2),\n\t\tmsfsi_dayofweek as long,\n\t\tmsfsi_frequency as string,\n\t\tmsfsi_creditoraccount as string,\n\t\tmsfsi_firstpaymentdate as timestamp,\n\t\tmsfsi_dayofmonth as long,\n\t\tmsfsi_financialholdinginstrumentid as string,\n\t\tmsfsi_financialholding as string\n\t),\n\tentity: '/resolved/msfsi_financialholdinginstrument.cdm.json/msfsi_financialholdinginstrument',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_cardtype,\n\t\tmsfsi_financialinstrumenttype,\n\t\tmsfsi_status,\n\t\ttransactioncurrencyid,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_issuedate,\n\t\tmsfsi_cardnumber,\n\t\tmsfsi_purchasinglimit,\n\t\tmsfsi_numberofcashwithdrawal,\n\t\tmsfsi_expirydate,\n\t\tmsfsi_embossingname,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_dateoflasttransaction,\n\t\tmsfsi_activationdate,\n\t\tmsfsi_cardnetwork,\n\t\tmsfsi_withdrawallimit,\n\t\tmsfsi_dateoflastcashwithdrawal,\n\t\tmsfsi_productname,\n\t\tmsfsi_numberoftransactions,\n\t\tmsfsi_name,\n\t\tmsfsi_lastitemstatus,\n\t\tmsfsi_nextitemdate,\n\t\tmsfsi_lastitemstatusreason,\n\t\tmsfsi_creditorname,\n\t\tmsfsi_creditoridentifier,\n\t\tmsfsi_mandateid,\n\t\tmsfsi_lastitemamount,\n\t\tmsfsi_mandateenddate,\n\t\tmsfsi_nextitemamount,\n\t\tmsfsi_orderenddate,\n\t\tmsfsi_mandatelimit,\n\t\tmsfsi_debtoraccount,\n\t\tmsfsi_standingorderamount,\n\t\tmsfsi_lastitemdate,\n\t\tmsfsi_mandatestartdate,\n\t\tmsfsi_overdraftrate,\n\t\tmsfsi_overdraftlimit,\n\t\tmsfsi_overdraftlimitused,\n\t\tmsfsi_dayofweek,\n\t\tmsfsi_frequency,\n\t\tmsfsi_creditoraccount,\n\t\tmsfsi_firstpaymentdate,\n\t\tmsfsi_dayofmonth,\n\t\tmsfsi_financialholdinginstrumentid,\n\t\tmsfsi_financialholding\n\t),\n\tpartitionBy('roundRobin', 2)) ~> strCIfiJoinCDM\nstrFSIfhJoinColTrn sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tstatecode as string,\n\t\tstatuscode as string,\n\t\tmsfsi_accountingclassification as long,\n\t\tmsfsi_interesttype as long,\n\t\tmsfsi_financialholdingcategory as string,\n\t\tmsfsi_financialholdingtype as string,\n\t\tmsfsi_delinquencystatus as boolean,\n\t\ttransactioncurrencyid as string,\n\t\tmsfsi_balancedisplayvalue as decimal(18,2),\n\t\ttransactioncurrencyidname as string,\n\t\tmsfsi_name as string,\n\t\tmsfsi_unclearedbalance as decimal(18,2),\n\t\tmsfsi_numberoftransactions as long,\n\t\tmsfsi_availablebalance as decimal(18,2),\n\t\tmsfsi_averagebalance as decimal(18,2),\n\t\tmsfsi_dateoflasttransaction as timestamp,\n\t\tmsfsi_blockedamount as decimal(18,2),\n\t\tmsfsi_integrationkey as string,\n\t\tmsfsi_balance as decimal(18,2),\n\t\tmsfsi_balanceexchangerate as decimal(18,2),\n\t\tmsfsi_interestrate as decimal(18,2),\n\t\tmsfsi_laststatementbalance as decimal(18,2),\n\t\tmsfsi_monthlypaymentpercentage as decimal(18,2),\n\t\tmsfsi_nextstatementdate as timestamp,\n\t\tmsfsi_laststatementdate as timestamp,\n\t\tmsfsi_nextpaymentdate as timestamp,\n\t\tmsfsi_lastpaymentduedate as timestamp,\n\t\tmsfsi_minimumpaymentdue as decimal(18,2),\n\t\tmsfsi_creditlimit as decimal(18,2),\n\t\tmsfsi_investmentrisk as long,\n\t\tmsfsi_investmenttimeframe as long,\n\t\tmsfsi_investmentobjectives as long,\n\t\tmsfsi_performanceytd as decimal(18,2),\n\t\tmsfsi_cashbalance as decimal(18,2),\n\t\tmsfsi_gainloss as decimal(18,2),\n\t\tmsfsi_performance3y as decimal(18,2),\n\t\tmsfsi_openeddate as timestamp,\n\t\tmsfsi_performance1y as decimal(18,2),\n\t\tmsfsi_portfolioname as string,\n\t\tmsfsi_modeofpayment as string,\n\t\tmsfsi_collectionrisk as string,\n\t\tmsfsi_dayspastdue as long,\n\t\tmsfsi_numberofdeferralsmade as long,\n\t\tmsfsi_interestreviewperiod as string,\n\t\tmsfsi_totalarrear as decimal(18,2),\n\t\tmsfsi_feearrears as decimal(18,2),\n\t\tmsfsi_numberofinstallmentspaid as long,\n\t\tmsfsi_capitalarrears as decimal(18,2),\n\t\tmsfsi_nextinterestreviewdate as timestamp,\n\t\tmsfsi_principalamount as decimal(18,2),\n\t\tmsfsi_disbursedamount as decimal(18,2),\n\t\tmsfsi_interestarrears as decimal(18,2),\n\t\tmsfsi_loanstartdate as timestamp,\n\t\tmsfsi_totalinterestpaid as decimal(18,2),\n\t\tmsfsi_disbursementdate as timestamp,\n\t\tmsfsi_maturitydate as timestamp,\n\t\tmsfsi_lastpaymentdate as timestamp,\n\t\tmsfsi_installmentamount as decimal(18,2),\n\t\tmsfsi_repaymentaccount as string,\n\t\tmsfsi_nextpaymentamount as decimal(18,2),\n\t\tmsfsi_overduedate as timestamp,\n\t\tmsfsi_lastpaymentamount as decimal(18,2),\n\t\tmsfsi_accruedinterest as decimal(18,2),\n\t\tmsfsi_initialsource as string,\n\t\tmsfsi_balanceatmaturity as decimal(18,2),\n\t\tmsfsi_maturityinstructionsdetails as string,\n\t\tmsfsi_projectedinterestamount as decimal(18,2),\n\t\tmsfsi_term as long,\n\t\tmsfsi_financialholdingid as string\n\t),\n\tentity: '/resolved/msfsi_financialholding.cdm.json/msfsi_financialholding',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tstatecode,\n\t\tstatuscode,\n\t\tmsfsi_accountingclassification,\n\t\tmsfsi_interesttype,\n\t\tmsfsi_financialholdingcategory,\n\t\tmsfsi_financialholdingtype,\n\t\tmsfsi_delinquencystatus,\n\t\ttransactioncurrencyid,\n\t\tmsfsi_balancedisplayvalue,\n\t\ttransactioncurrencyidname,\n\t\tmsfsi_name,\n\t\tmsfsi_unclearedbalance,\n\t\tmsfsi_numberoftransactions,\n\t\tmsfsi_availablebalance,\n\t\tmsfsi_averagebalance,\n\t\tmsfsi_dateoflasttransaction,\n\t\tmsfsi_blockedamount,\n\t\tmsfsi_integrationkey,\n\t\tmsfsi_balance,\n\t\tmsfsi_balanceexchangerate,\n\t\tmsfsi_interestrate,\n\t\tmsfsi_laststatementbalance,\n\t\tmsfsi_monthlypaymentpercentage,\n\t\tmsfsi_nextstatementdate,\n\t\tmsfsi_laststatementdate,\n\t\tmsfsi_nextpaymentdate,\n\t\tmsfsi_lastpaymentduedate,\n\t\tmsfsi_minimumpaymentdue,\n\t\tmsfsi_creditlimit,\n\t\tmsfsi_investmentrisk,\n\t\tmsfsi_investmenttimeframe,\n\t\tmsfsi_investmentobjectives,\n\t\tmsfsi_performanceytd,\n\t\tmsfsi_cashbalance,\n\t\tmsfsi_gainloss,\n\t\tmsfsi_performance3y,\n\t\tmsfsi_openeddate,\n\t\tmsfsi_performance1y,\n\t\tmsfsi_portfolioname,\n\t\tmsfsi_modeofpayment,\n\t\tmsfsi_collectionrisk,\n\t\tmsfsi_dayspastdue,\n\t\tmsfsi_numberofdeferralsmade,\n\t\tmsfsi_interestreviewperiod,\n\t\tmsfsi_totalarrear,\n\t\tmsfsi_feearrears,\n\t\tmsfsi_numberofinstallmentspaid,\n\t\tmsfsi_capitalarrears,\n\t\tmsfsi_nextinterestreviewdate,\n\t\tmsfsi_principalamount,\n\t\tmsfsi_disbursedamount,\n\t\tmsfsi_interestarrears,\n\t\tmsfsi_loanstartdate,\n\t\tmsfsi_totalinterestpaid,\n\t\tmsfsi_disbursementdate,\n\t\tmsfsi_maturitydate,\n\t\tmsfsi_lastpaymentdate,\n\t\tmsfsi_installmentamount,\n\t\tmsfsi_repaymentaccount,\n\t\tmsfsi_nextpaymentamount,\n\t\tmsfsi_overduedate,\n\t\tmsfsi_lastpaymentamount,\n\t\tmsfsi_accruedinterest,\n\t\tmsfsi_initialsource,\n\t\tmsfsi_balanceatmaturity,\n\t\tmsfsi_maturityinstructionsdetails,\n\t\tmsfsi_projectedinterestamount,\n\t\tmsfsi_term,\n\t\tmsfsi_financialholdingid\n\t),\n\tpartitionBy('roundRobin', 2)) ~> strCIfhJoinCDM\nstrContactMergeCol sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tinput(\n\t\tcontactid as string\n\t),\n\tentity: '/resolved/contactmerge.cdm.json/contactmerge',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tmanifestName: 'msfsi',\n\tfolderPath: 'Data',\n\tfileSystem: ($tgtCICDMCtn),\n\tsubformat: 'parquet',\n\tcorpusPath: 'Corpus',\n\tcorpusStore: 'adlsgen2',\n\tadlsgen2_fileSystem: ($tgtCICDMCtn),\n\ttruncate: false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tcontactid\n\t),\n\tpartitionBy('roundRobin', 2)) ~> strCIContactMergeCDM"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/lnkFSICDM')]",
                "[concat(variables('factoryId'), '/linkedServices/lnkCICDM')]"
            ]
        }
    ]
}