Modules/Onboarding-Essentials/FSIOnboardingEssentialsBase/Workflows/AddapplicationtoBPF-5BDE4472-12C4-ED11-83FF-000D3A1BA984.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_f988c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "ac5c8d40-5b82-4414-b2e6-9ba31eb039e4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msfsi_application",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5b206b65-9de2-45d4-a923-d0f311a399d1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_onboardingscenariodefinitions",
              "$select": "msfsi_businessprocessflow",
              "$filter": "msfsi_businessscenario eq @{triggerOutputs()?['body/msfsi_businessscenario']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each": {
                "foreach": "@outputs('List_rows')?['body/value']",
                "actions": {
                  "Perform_a_bound_action": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ebbc44c7-97f1-422e-b331-a8f89132b943"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "PerformBoundAction",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "msfsi_applications",
                        "actionName": "Microsoft.Dynamics.CRM.msfsi_Setapplicationprocess",
                        "recordId": "@triggerOutputs()?['body/msfsi_applicationid']",
                        "item/BusinessProcessFlow/workflowid": "@items('Apply_to_each')?['_msfsi_businessprocessflow_value']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b698dc4b-c662-420a-aaba-a56be720902e"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "or": [
              {
                "greater": [
                  "@length(outputs('List_rows')?['body/value'])",
                  1
                ]
              },
              {
                "equals": [
                  "@length(outputs('List_rows')?['body/value'])",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ce64114d-0686-49e4-aae6-17cc5a2b7cb3"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}