Modules/OnboardingEssentials/FSIOnboardingEssentialsTasks/Workflows/DeactivateTasks-5BB2673F-4054-ED11-BBA2-000D3A37DD84.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_5e0a2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "2de1f70d-70be-4e42-b2d6-96af238b9d4e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "msfsi_taskdefinition",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "statecode"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_configuration_table_data": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3cf28efa-ab3d-4517-aa1b-fc000df1c5ea"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_canceltasksconfigurationtables",
              "$select": "msfsi_applicationstate,msfsi_applicationstatusreason",
              "$filter": "(msfsi_businessscenario eq @{triggerOutputs()?['body/msfsi_businessscenario']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8612584e-752d-4196-869b-5b249bc0ff9b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Application statuses",
                "type": "string"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Application_statuses_to_not_include": {
              "foreach": "@outputs('List_configuration_table_data')?['body/value']",
              "actions": {
                "Append_to_string_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8feb27a5-6cd6-4ad7-bbad-3497aa4e1117"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Application statuses",
                    "value": "<value>@{items('Application_statuses_to_not_include')?['msfsi_applicationstate']}</value>"
                  }
                },
                "Append_to_string_variable_2": {
                  "runAfter": {
                    "Append_to_string_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8b55b2a8-bec4-4764-b33e-f74139b330a8"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Application status reason",
                    "value": "<value>@{items('Application_statuses_to_not_include')?['msfsi_applicationstatusreason']}</value>"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "aa61818b-d0ed-42dd-8129-25dc51c00cc5"
              },
              "type": "Foreach"
            },
            "List_tasks_with_application_status_filter": {
              "runAfter": {
                "Application_statuses_to_not_include": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "68d863ff-eac2-4a90-a64b-5e24a7533ba8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tasks",
                  "fetchXml": "<fetch>\n  <entity name=\"task\">\n    <filter>\n      <condition attribute=\"msfsi_taskdefinition\" operator=\"eq\" value=\"@{triggerOutputs()?['body/msfsi_taskdefinitionid']}\" />\n    </filter>\n    <link-entity name=\"msfsi_application\" from=\"msfsi_applicationid\" to=\"regardingobjectid\">\n      <filter type=\"or\">\n        <condition attribute=\"statecode\" operator=\"not-in\">\n            @{variables('Application statuses')}\n        </condition>\n        <condition attribute=\"statuscode\" operator=\"not-in\">\n            @{variables('Application status reason')}\n        </condition>\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_tasks_with_application_status_filter')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f00360b1-d0e9-4ce4-9d25-1afe2eeebafb"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tasks",
                      "recordId": "@items('Apply_to_each')?['activityid']",
                      "item/statecode": 2,
                      "item/statuscode": 6
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_tasks_with_application_status_filter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b1251811-4c24-43e3-ab04-771f136187c4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_configuration_table_data": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "List_tasks_without_application_status_filter": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "db15cde5-1a98-4d5c-a6e6-d72b6d0b93c0"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "tasks",
                    "$filter": "msfsi_taskdefinition_Task/msfsi_taskdefinitionid eq '@{triggerOutputs()?['body/msfsi_taskdefinitionid']}'"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Apply_to_each_2": {
                "foreach": "@outputs('List_tasks_without_application_status_filter')?['body/value']",
                "actions": {
                  "Update_a_row_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "765143b5-cf43-426a-9f8f-ceaec039ef24"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "tasks",
                        "recordId": "@items('Apply_to_each_2')?['activityid']",
                        "item/statecode": 2,
                        "item/statuscode": 6
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "List_tasks_without_application_status_filter": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5ee76939-2c81-4507-b439-467fc4756c9d"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "greater": [
              "@length(outputs('List_configuration_table_data')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "8959fbb7-810a-404b-a590-28f018775ad6"
          },
          "type": "If"
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a023139-f7e6-440e-a8f2-d4bdf18ce156"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Application status reason",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}