Modules/OnboardingEssentials/FSIOnboardingEssentialsTasks/Workflows/Isstandardtaskconditionsatisfied-4BF0E3DA-A6FE-EC11-82E5-0022482449E2.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_5e0a2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2c7d0ef8-7909-4fde-ae01-01db3eb929ab"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_2": {
                  "title": "Related party role",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "Task definition id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "Related party contract is primary",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_1": {
                  "title": "Task definition for primary",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                }
              },
              "required": ["text_2", "text_3", "boolean", "boolean_1"]
            }
          }
        }
      },
      "actions": {
        "Condition_3": {
          "actions": {
            "Respond_to_a_PowerApp_or_flow_4": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "04c90837-965d-4402-9e1b-a87bf195d852"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "is_condition_satisfied": "@equals(triggerBody()['boolean'], triggerBody()['boolean_1'])"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_condition_satisfied": {
                      "title": "Is condition satisfied",
                      "x-ms-dynamically-added": true,
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "List_rows": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "0d050c04-a719-4e44-b482-88379a6d575d"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "msfsi_taskdefinitions",
                    "fetchXml": "<fetch>\n  <entity name=\"msfsi_taskdefinition\">\n    <filter>\n      <condition attribute=\"msfsi_taskdefinitionid\" operator=\"eq\" value=\"@{triggerBody()['text_3']}\" />\n    </filter>\n    <link-entity name=\"msfsi_taskdefinition_msfsi_relatedpartyro\" from=\"msfsi_taskdefinitionid\" to=\"msfsi_taskdefinitionid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"msfsi_relatedpartyroleid\" operator=\"in\">\n          <value>@{triggerBody()['text_2']}</value>\n        </condition>\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                  },
                  "authentication": {
                    "type": "Raw",
                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                  }
                }
              },
              "Respond_to_a_PowerApp_or_flow": {
                "runAfter": {
                  "List_rows": ["Succeeded"]
                },
                "metadata": {
                  "operationMetadataId": "41505d0b-11f5-4262-b550-da95108603c8"
                },
                "type": "Response",
                "kind": "PowerApp",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "is_condition_satisfied": "@bool(not(equals(length(outputs('List_rows')?['body/value']),0)))"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "is_condition_satisfied": {
                        "title": "Is condition satisfied",
                        "x-ms-dynamically-added": true,
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "expression": {
            "equals": ["@triggerBody()['boolean_1']", true]
          },
          "metadata": {
            "operationMetadataId": "223e5f16-9ac6-48ab-bfb4-3b267971a904"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}
