Modules/OnboardingEssentials/FSIOnboardingEssentialsTasks/Workflows/TaskscreationforApplication-76A53548-8AA0-ED11-AAD1-000D3A9CAB0D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_5e0a2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "40a893bf-24e0-4c37-b292-b76da14999d4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msfsi_application",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3d164cba-73f1-4f1a-af0d-64d409b9c36e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_taskdefinitions",
              "$select": "msfsi_taskdefinitionid, msfsi_associationtype",
              "fetchXml": "<fetch top=\"50\" distinct=\"true\" >\n  <entity name=\"msfsi_taskdefinition\" >\n    <attribute name=\"msfsi_taskdefinitionid\" alias=\"id\" />\n    <attribute name=\"msfsi_associationtype\" />\n    <filter>\n      <condition attribute=\"msfsi_associationtype\" operator=\"eq\" value=\"104800000\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"msfsi_triggertype\" operator=\"eq\" value=\"100000000\" />\n<condition attribute=\"msfsi_businessscenario\" operator=\"eq\" value=\"@{triggerOutputs()?['body/msfsi_businessscenario']}\" />\n    </filter>\n    <link-entity name=\"msfsi_msfsi_taskdefinition_msfsi_applications\" from=\"msfsi_taskdefinitionid\" to=\"msfsi_taskdefinitionid\" link-type=\"inner\" alias=\"connector\" intersect=\"true\" >\n      <filter>\n        <condition attribute=\"msfsi_applicationcategoryid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_msfsi_category_value']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "965f3741-9d76-4fd7-936f-fa9570e50da6"
          },
          "type": "Compose",
          "inputs": "@length(outputs('List_rows')?['body/value'])"
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Perform_a_bound_action_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "81fb6a83-228a-46d4-8754-05f801c12caf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msfsi_taskdefinitions",
                  "actionName": "Microsoft.Dynamics.CRM.msfsi_Createtask",
                  "recordId": "@items('Apply_to_each')?['msfsi_taskdefinitionid']",
                  "item/Application/msfsi_applicationid": "@triggerOutputs()?['body/msfsi_applicationid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "58341977-5d61-46d5-a5a4-7699fc245353"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}