Modules/OnboardingEssentials/FSIOnboardingEssentialsTasks/Workflows/TaskscreationforRelatedpartycontract-B198BC79-A0FE-EC11-82E5-0022482440BD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msfsi_sharedcommondataserviceforapps_5e0a2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "New_related_party_contract_is_added": {
          "metadata": {
            "operationMetadataId": "a0404a1f-6976-4b23-a2dc-60e01c710c03"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msfsi_relatedpartycontract",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerBody()?['_msfsi_contractpart_type'],'msfsi_applications')"
            }
          ]
        }
      },
      "actions": {
        "Get_all_standard_task_definitions": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "644ff48b-8666-42c4-9834-1a5d72f09ffd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_taskdefinitions",
              "$select": "msfsi_taskdefinitionid, msfsi_associationtype",
              "fetchXml": "<fetch top=\"50\" distinct=\"true\" >\n  <entity name=\"msfsi_taskdefinition\" >\n    <attribute name=\"msfsi_taskdefinitionid\" alias=\"id\" />\n    <attribute name=\"msfsi_associationtype\" />\n    <filter>\n      <condition attribute=\"msfsi_associationtype\" operator=\"neq\" value=\"104800000\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"msfsi_triggertype\" operator=\"eq\" value=\"100000000\" />\n<condition attribute=\"msfsi_businessscenario\" operator=\"eq\" value=\"@{outputs('Get_a_row_by_ID')?['body/msfsi_businessscenario']}\" />\n    </filter>\n    <link-entity name=\"msfsi_msfsi_taskdefinition_msfsi_applications\" from=\"msfsi_taskdefinitionid\" to=\"msfsi_taskdefinitionid\" link-type=\"inner\" alias=\"connector\" intersect=\"true\" >\n      <filter>\n        <condition attribute=\"msfsi_applicationcategoryid\" operator=\"eq\" value=\"@{outputs('Get_a_row_by_ID')?['body/_msfsi_category_value']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Foreach_standard_task_definition": {
          "foreach": "@outputs('Get_all_standard_task_definitions')?['body/value']",
          "actions": {
            "Run_Is_standard_condition_satisfied_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1a274ac7-1651-4d99-9c98-d243d22c3b34"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "4bf0e3da-a6fe-ec11-82e5-0022482449e2"
                },
                "body": {
                  "text_2": "@triggerOutputs()?['body/_msfsi_relatedparty_role_value']",
                  "text_3": "@items('Foreach_standard_task_definition')?['msfsi_taskdefinitionid']",
                  "boolean": "@triggerOutputs()?['body/msfsi_isprimary']",
                  "boolean_1": "@equals(items('Foreach_standard_task_definition')?['msfsi_associationtype'], 104800001)"
                }
              }
            },
            "Condition_2": {
              "actions": {
                "Run_process_to_create_task_for_related_party_contract": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3e6f0987-0db1-48f0-a5b6-3ab4363faa50"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msfsi_taskdefinitions",
                      "actionName": "Microsoft.Dynamics.CRM.msfsi_Createtask",
                      "recordId": "@items('Foreach_standard_task_definition')?['msfsi_taskdefinitionid']",
                      "item/Application/msfsi_applicationid": "@triggerOutputs()?['body/_msfsi_contractpart_value']",
                      "item/RelatedPartyContract/msfsi_relatedpartycontractid": "@triggerOutputs()?['body/msfsi_relatedpartycontractid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Run_Is_standard_condition_satisfied_flow": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@body('Run_Is_standard_condition_satisfied_flow')?['is_condition_satisfied']",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "a7826823-3916-4239-9af8-9c80439040f7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_all_standard_task_definitions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25f6b54c-0d95-48be-acbf-5210f4a906ed"
          },
          "type": "Foreach"
        },
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8356c240-102f-4b7f-b432-04eba8c34c0e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfsi_applications",
              "recordId": "@triggerOutputs()?['body/_msfsi_contractpart_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}